{% trans_default_domain 'FOSUserBundle' %}

<div class="jumbotron alpha60">
    <table>
        <tr>
            <td class="col-sm-3">
                <img src="{% image '@AoshidowebBundle/img/bichi.jpg' %} {{ asset_url }} {% endimage %}" 
                     alt="..." class="img-circle" width="200px" height="200px">
            </td>
            <td class="col-sm-9">
                <div class="panel panel-primary">
                    <div class="panel-heading"></div>
                    <table class="table table-condensed">
                        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
                            <tr class="row">
                                {{ form_errors(form.current_password) }}
                                <td class="col-sm-5">{{ form_label(form.current_password,null,{ 'label_attr' : { 'class' : 'control-label' } }) }}</td>
                                <td class="col-sm-7">{{ form_widget(form.current_password,{ 'attr' : { 'class' : 'form-control' } }) }}</td>
                            </tr>
                            <tr class="row">
                                {{ form_errors(form.plainPassword.first) }}
                                <td class="col-sm-5">{{ form_label(form.plainPassword.first,null,{ 'label_attr' : { 'class' : 'control-label' } }) }}</td>
                                <td class="col-sm-7">{{ form_widget(form.plainPassword.first,{ 'attr' : { 'class' : 'form-control' } }) }}</td>
                            </tr>
                            <tr class="row">
                                {{ form_errors(form.plainPassword.second) }}
                                <td class="col-sm-5">{{ form_label(form.plainPassword.second,null,{ 'label_attr' : { 'class' : 'control-label' } }) }}</td>
                                <td class="col-sm-7">{{ form_widget(form.plainPassword.second,{ 'attr' : { 'class' : 'form-control' } }) }}</td>
                            </tr>
                            {{ form_rest(form) }}
                            <tr class="row">
                                <td  colspan="2">
                                    <div class="col-md-offset-4 col-md-4">
                                        <input class="btn btn-success" type="submit" value="{{ 'change_password.submit'|trans }}" />
                                    </div>
                                </td>
                            </tr>
                        </form>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
