{% if app.user %}
    {% set combo =  app.session.get('combo') %}
    {% set level =  app.user.level %}
    {% set expPercentage =  (app.user.currentExperience / (2**app.user.level))|round %}
    {% set userExperience = app.user.currentExperience %}
    {% set nextExperience = (2**app.user.level) %}
{% else %}
    {% set combo =  0 %}
    {% set level =  0 %}
    {% set expPercentage =  0 %}
    {% set userExperience = 0 %}
    {% set nextExperience = 1 %}
{% endif %}

<div class="col-xs-3" style="padding: 0;">
    <div id="barra2" class="center-block text-right" style ="padding-top: 5%; ">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="-2 -1 42 42" style="max-width: 120px">
            <path fill-opacity="0" stroke-width="1" stroke="#bbb" d="M 10.0107,39.0535 C 8.0927139,38.92517 5.9822053,38.337159 4.85338,36.6592 5.1822895,31.473484 6.0915318,25.778099 10.003886,22.003739 c 2.71587,-3.008117 6.27305,-5.12009 10.09069,-6.41333 3.230497,-1.120181 6.381864,-2.482311 9.233666,-4.390459 0.887933,-0.562007 2.434702,-1.5837221 2.867808,-1.9618053 -3.703234,1.9987263 -7.617793,3.6392523 -11.743033,4.5245803 -6.879194,1.79858 -13.339879,6.39582 -16.0204699,13.156317 -0.9352635,1.5582 -0.8847742,4.848531 -1.8828122,5.479146 C 0.16224651,30.881946 0.26671867,27.738843 0.45311284,25.24957 0.89346848,19.257586 4.3468258,13.526107 9.6683567,10.648051 15.45406,7.2390015 22.279572,6.5690208 28.820743,5.8571903 32.792319,5.5308631 36.731262,3.4982988 38.7831,0 37.534226,8.9455616 34.855699,17.833743 30.046303,25.533672 26.207096,31.688991 20.324069,36.91901 13.102522,38.530907 12.08423,38.769771 11.050708,38.942911 10.0107,39.0535 Z"/>
            <path id="leaf-path2" fill-opacity="0" stroke-width="1.5" stroke="#00a65a" d="M 10.0107,39.0535 C 8.0927139,38.92517 5.9822053,38.337159 4.85338,36.6592 5.1822895,31.473484 6.0915318,25.778099 10.003886,22.003739 c 2.71587,-3.008117 6.27305,-5.12009 10.09069,-6.41333 3.230497,-1.120181 6.381864,-2.482311 9.233666,-4.390459 0.887933,-0.562007 2.434702,-1.5837221 2.867808,-1.9618053 -3.703234,1.9987263 -7.617793,3.6392523 -11.743033,4.5245803 -6.879194,1.79858 -13.339879,6.39582 -16.0204699,13.156317 -0.9352635,1.5582 -0.8847742,4.848531 -1.8828122,5.479146 C 0.16224651,30.881946 0.26671867,27.738843 0.45311284,25.24957 0.89346848,19.257586 4.3468258,13.526107 9.6683567,10.648051 15.45406,7.2390015 22.279572,6.5690208 28.820743,5.8571903 32.792319,5.5308631 36.731262,3.4982988 38.7831,0 37.534226,8.9455616 34.855699,17.833743 30.046303,25.533672 26.207096,31.688991 20.324069,36.91901 13.102522,38.530907 12.08423,38.769771 11.050708,38.942911 10.0107,39.0535 Z"/>
        </svg>
    </div>
</div>

<div class="col-xs-9">
    <table class="table table-condensed" style="margin-top: 1%; margin-bottom: 0;">
        <tr>
            <td class="col-xs-10" style ="border-top: none !important;">
                {% if combo > 4 %}
                    {% set class =  'progress-bar-danger' %}
                {% else %}
                    {% set class =  'progress-bar-warning' %}
                {% endif %}
                <div class="progress progress-xs progress-striped active" style="margin:0">
                    <div class="progress-bar {{class}}" style="width: {{combo*20}}%"></div>
                    <span class="progress-type">X{{combo}} Combo </span>
                </div>
            </td>
            <td class="col-xs-2" style ="border-top: none !important;">
                {#
                <a class="btn btn-success btn-xs" href="#">
                    <span class="fa-stack">
                        <i class="fa fa-check fa-stack-2x"></i>
                    </span>
                </a>  
                #}
            </td>
        </tr>
        <tr>
            <td class="col-xs-10" style ="border-top: none !important;">
                <div class="progress progress-xs progress-striped active" style="margin:0">
                    <div class="progress-bar progress-bar-success" style="width: {{ level }}%"></div>
                    <span class="progress-type">Nivel: {{ level }}</span>
                </div>
            </td>
            <td class="col-xs-2" style ="border-top: none !important;">
                {#
                <a class="btn btn-primary btn-xs" href="#">
                    <span class="fa-stack">
                        <i class="fa fa-circle-o fa-stack-2x"></i>
                        <i class="fa fa-bolt fa-stack-1x"></i>
                    </span>
                </a>
                #}
            </td>
        </tr>
        <tr>
            <td class="col-xs-10" style ="border-top: none !important;">
                <div class="progress progress-xs progress-striped active" style="margin:0">
                    <div class="progress-bar progress-bar-success" style="width: {{expPercentage*100}}%"></div>
                    <span class="progress-type">{{ userExperience }} de {{ nextExperience }} Puntos</span>
                </div>
            </td>
            <td class="col-xs-2" style ="border-top: none !important;">
                {#
                <button type="button" class="btn btn-success btn-xs" aria-label="Left Align" data-toggle="tooltip" data-placement="right" title="Eliminar" onclick="location.href = '{{ url('materias_disable',{ 'idMateria': 2})}}';">
                    <i class="fa fa-check"></i>
                </button>    
                #}
            </td>
        </tr>
    </table>
</div>

<script>
    var bar = new ProgressBar.Path('#leaf-path2', {
        color: '#00a65a',
        strokeWidth: 1,
        trailWidth: 1,
        easing: 'easeInOut',
        duration: 1400,
        text: {
            autoStyleContainer: false
        },
        from: {color: '#00a65a', width: 1},
        to: {color: '#ffcc00', width: 1},
        // Set default step function for all animate calls
        step: function (state, circle) {
            circle.path.setAttribute('stroke', state.color);
            circle.path.setAttribute('stroke-width', state.width);
        }
    });

    bar.set(0);
    bar.animate({{expPercentage}});  // Number from 0.0 to 1.0
</script>

