<div class="panel panel-primary">
    <div class="panel-heading clickable" role="tab"  id="heading1">
        <h3 class="panel-title "role="button" 
            data-toggle="collapse" data-parent="#accordion" 
            href="#collapse1" aria-expanded="false" aria-controls="collapse1">
            <i class="glyphicon glyphicon-plus"></i>
            {% if form.vars.method == 'PATCH'%} Editar {%else%} Agregar {%endif%} Preguntas
            
        </h3>
    </div>
    <div id="collapse1" class="panel-body panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
        {{ form_start(form,{ 'attr': {'class': 'form-horizontal'} })}}

        <div class="form-group">
            {{ form_errors(form)}}
            {{ form_errors(form.contenido) }}
            {{ form_label(form.contenido,null,{ 'label_attr' : { 'class' : 'col-sm-2 control-label' } })}}

            <div id="anchor" class="col-sm-10">
                {{ form_widget(form.contenido,{ 'attr' : { 'class' : 'form-control' } }) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.carrera,null,{ 'label_attr' : { 'class' : 'col-sm-2 control-label' } }) }}
            {{ form_errors(form.carrera) }}
            <div id="anchor" class="col-sm-10">
                {{ form_widget(form.carrera,{ 'attr' : { 'class' : 'form-control' } }) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_errors(form.materia) }}
            {{ form_label(form.materia,null,{ 'label_attr' : { 'class' : 'col-sm-2 control-label' } }) }}
            <div class="col-sm-10">
                {{ form_widget(form.materia,{ 'attr' : { 'class' : 'form-control' } }) }}
            </div>
        </div>    

        <div class="form-group">
            {{ form_errors(form.temas) }}
            {{ form_label(form.temas,null,{ 'label_attr' : { 'class' : 'col-sm-2 control-label' } }) }}
            <div class="col-sm-10">
                {{ form_widget(form.temas,{ 'attr' : { 'class' : 'form-control' } }) }}
            </div>
        </div>    

        <div class="form-group text-center">
            <div id="anchor" class="col-sm-12">
                {{ form_widget(form.save,{ 'attr': {'class': 'btn btn-success'} }) }}
            </div>
            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
</div>