{% extends 'AoshidowebBundle:Abms:index.html.twig' %}

{% block abms_contenido %} 
    {% form_theme form 'AoshidowebBundle:Themes:field-prototype.html.twig' %}
    <div class="container col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading text-right">Preguntas Disponibles: {{ cantidad }}</div>

            <table class="table table-condensed">
                {# <tr class="info">
                      <th class="col-md-6">Contenido</th>
                      <th class="col-md-1">&nbsp</th>
                  </tr>#}
                {% for pregunta in paginas %}
                    <tr>
                        <td class="col-md-6">{{ pregunta.contenido }}</td>
                        <td class="col-md-1">
                            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                <button type="button" class="btn btn-success" aria-label="Left Align" onclick="location.href = '#{# url('preguntas_EDIT',{ 'id': pregunta.id})#}';">
                                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                </button>    
                                <button type="button" class="btn btn-danger" aria-label="Left Align" onclick="location.href = '#{# url('preguntas_DELETE',{ 'id': pregunta.id})#}';">
                                    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                                </button>    
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div class="col-md-offset-4 navigation">
                {{ knp_pagination_render(paginas) }}
            </div>

        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Agregar preguntas</div>

            <div class="panel-body">
                {{ form_start(form,{ 'attr': {'class': 'form-horizontal'} })}}


                <div class="form-group">
                    {{ form_errors(form)}}
                    {{ form_errors(form.idmateria) }}
                    {{ form_label(form.contenido,null,{ 'label_attr' : { 'class' : 'col-md-2 control-label' } })}}
                    <div id="anchor" class="col-md-6">
                        {{ form_widget(form.contenido,{ 'attr' : { 'class' : 'form-control' } }) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.idcarrera,null,{ 'label_attr' : { 'class' : 'col-md-2 control-label' } }) }}
                    {{ form_errors(form.idmateria) }}
                    <div id="anchor" class="col-md-6">
                        {{ form_widget(form.idcarrera,{ 'attr' : { 'class' : 'form-control' } }) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_errors(form.idmateria) }}
                    {{ form_label(form.idmateria,null,{ 'label_attr' : { 'class' : 'col-md-2 control-label' } }) }}
                    <div class="col-md-6">
                        {{ form_widget(form.idmateria,{ 'attr' : { 'class' : 'form-control' } }) }}
                    </div>
                </div>    

                <div class="form-group">
                    {{ form_errors(form.idtema) }}
                    {{ form_label(form.idtema,null,{ 'label_attr' : { 'class' : 'col-md-2 control-label' } }) }}
                    <div class="col-md-6">
                        {{ form_widget(form.idtema,{ 'attr' : { 'class' : 'form-control' } }) }}
                    </div>
                </div>    

                {# <div id="temas" data-prototype="{% filter escape %}{{ include('AoshidowebBundle:Themes:field-prototype.html.twig', { 'form': form.temas.vars.prototype }) }}{% endfilter %}">
                      iterate over each existing tag and render its only field: Descripcion 
                     {% for tema in form.temas %}
 
                     {% endfor %}                    
                 </div>#}

                <div class="form-group">
                    <div id="anchor" class="col-md-offset-2 col-md-4">
                        {{ form_widget(form.save,{ 'attr': {'class': 'btn btn-success'} }) }}
                    </div>
                    {{ form_row(form._token) }}
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %} 
    {{ parent() }}

    <script type="text/javascript">
        $("select[id$='idcarrera']").change(function () {
            var data = {
                idcarrera: $(this).val()
            };

            $.ajax({
                type: 'post',
                url: '{{ path("preguntas_addMateria") }}',
                data: data,
                success: function (data) {
                    var $materia_selector = $("select[id$='idmateria']");

                    $materia_selector.html('<option value="">- Seleccione Materia -</option>');

                    for (var i = 0, total = data.length; i < total; i++) {
                        $materia_selector.append('<option value="' + data[i].id + '">' + data[i].descripcion + ' </option>');
                    }
                }
            });
        });
    </script>

    <script type="text/javascript">
        $("select[id$='idmateria']").change(function () {
            var data = {
                idmateria: $(this).val()
            };

            $.ajax({
                type: 'post',
                url: '{{ path("preguntas_addTemas") }}',
                data: data,
                success: function (data) {
                    var tema_selector = $("select[id$='idtema']");

                    tema_selector.html('<option value="">- Seleccione Tema -</option>');

                    for (var i = 0, total = data.length; i < total; i++) {
                        tema_selector.append('<option value="' + data[i].id + '">' + data[i].descripcion + ' </option>');
                    }
                }
            });
        });
    </script>
{% endblock %}