{% extends 'AoshidowebBundle:Preguntas:index.html.twig' %}

{%block navPreg %} active {% endblock %}
{%block tabPreg %} active {% endblock %}

{% block Preguntas %} 
{% form_theme form 'AoshidowebBundle:Temas:Theme/_field-prototype.html.twig' %}
    <div class="container col-md-12">
        <div class="panel-heading">Preguntas Disponibles: {{ cantidad }}</div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <th class="col-md-6">Contenido</th>
                    <th class="col-md-1">&nbsp</th>
                </tr>
                {% for pregunta in paginas %}
                    <tr>
                        <td class="col-md-6">{{ pregunta.contenido }}</td>
                        <td class="col-md-1">
                            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                <button type="button" class="btn btn-success" aria-label="Left Align" onclick="location.href = '#{# url('preguntas_EDIT',{ 'id': pregunta.id})#}';">
                                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                </button>    
                                <button type="button" class="btn btn-danger" aria-label="Left Align" onclick="location.href = '#{# url('preguntas_DELETE',{ 'id': pregunta.id})#}';">
                                    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                                </button>    
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div class="navigation">
                {{ knp_pagination_render(paginas) }}
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Agregar preguntas</div>


            <div class="panel-body">
                {{ form_start(form,{ 'attr': {'class': 'form-horizontal'} })}}
                {{ form_errors(form)}}
                <div class="form-group">
                    {{ form_label(form.contenido,null,{ 'label_attr' : { 'class' : 'col-md-2 control-label' } })}}
                    <div class="col-md-8">
                        {{ form_widget(form.contenido,{ 'attr' : { 'class' : 'form-control' } }) }}
                    </div>
                </div>


                <div id="temas" data-prototype="{% filter escape %}
             {{ include('AoshidowebBundle:Temas:Theme/_field-prototype.html.twig', { 'form': form.temas.vars.prototype }) }}
         {% endfilter %}">
                    {# iterate over each existing tag and render its only field: Descripcion #}
                    {% for tema in form.temas %}
                        <div id="temaCont" class="form-group">
                            {{ form_label(tema.descripcion,null,{ 'label_attr' : { 'class' : 'col-md-2 control-label' } }) }} 
                            <div class="col-md-8">
                                {{ form_widget(tema.descripcion,{ 'attr' : { 'class' : 'form-control' } }) }} 
                            </div>
                        </div>
                    {% endfor %}
                </div>



                <div class="form-group">
                    {{ form_widget(form.save,{ 'attr': {'class': 'btn btn-success'} }) }}
                    {{ form_row(form._token) }}
                    {{ form_end(form, {'render_rest': false}) }}
                </div>


            </div>
        </div>
    </div>
</div>

{% endblock %}
