{% extends 'AoshidowebBundle:Abms:index.html.twig' %}

{% block title %}Preguntas{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{{url('aoshidoweb_homepage')}}">Home</a></li>
        <li class="active">Preguntas</li>
    </ul>
{% endblock %}

{% block section %}Preguntas{% endblock %}

{% block abms_contenido %} 
    {% form_theme form 'AoshidowebBundle:Themes:field-prototype.html.twig' %}
    <div class="container col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading text-right">Preguntas Disponibles: {{ cantidad }}</div>

            <table class="table table-condensed">
                {% for pregunta in paginas %}
                    <tr class="row">
                        <td class="col-sm-9">
                            <span class="badge progress-bar-warning" data-toggle="tooltip" data-placement="left" title="Veces Vista">
                                {{pregunta.vecesVista}}
                            </span>
                            <span class="badge progress-bar-success" data-toggle="tooltip" data-placement="top" title="Veces Acertada">
                                {{pregunta.vecesAcertada}}
                            </span>
                            <div style="height:150px;overflow:hidden; text-overflow-multiline:ellipsis;">
                                {{ pregunta.contenido|markdown|raw|truncate(150) }}
                            </div>
                        </td>
                        <td class="col-sm-3">
                            <div class="btn-group btn-group-sm pull-right" role="group" aria-label="..." >
                                <button type="button" class="btn btn-info" aria-label="Left Align" data-toggle="tooltip" data-placement="left" title="Responder" onclick="location.href = '{{ url('respuestas_new',{ 'idPregunta': pregunta.id}) }}';">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-success" aria-label="Left Align" data-toggle="tooltip" data-placement="top" title="Editar" onclick="location.href = '{{ url('preguntas_edit',{ 'idPregunta': pregunta.id}) }}';">
                                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                </button>    
                                <button type="button" class="btn btn-danger" aria-label="Left Align" data-toggle="tooltip" data-placement="right" title="Eliminar"  onclick=" location.href = '{{ url('preguntas_disable',{ 'idPregunta': pregunta.id}) }}';">
                                    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                                </button>    
                            </div>

                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div class="col-md-offset-4 navigation">
                {{ knp_pagination_render(paginas) }}
            </div>

            
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %} 
    {{ parent() }}

    <script type="text/javascript">
        $(".btn-danger").popConfirm({
            title: "Borrar Pregunta",
            content: "¿Seguro que desea borrar la pregunta?",
            placement: "right",
            yesBtn: "Si",
            noBtn: "No"
        });
    </script>

    <script type="text/javascript">
        CKEDITOR.replace('pregunta_contenido');
    </script>

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <script type="text/javascript">
        $("select[id$='carrera']").change(function () {
            var data = {
                idcarrera: $(this).val()
            };

            $.ajax({
                type: 'post',
                url: '{{ path("preguntas_addMateria") }}',
                data: data,
                success: function (data) {
                    var $materia_selector = $("select[id$='materia']");

                    $materia_selector.html('<option value="">- Seleccione Materia -</option>');

                    for (var i = 0, total = data.length; i < total; i++) {
                        $materia_selector.append('<option value="' + data[i].id + '">' + data[i].descripcion + ' </option>');
                    }
                }
            });
        });
    </script>

    <script type="text/javascript">
        $("select[id$='materia']").change(function () {
            var data = {
                idmateria: $(this).val()
            };

            $.ajax({
                type: 'post',
                url: '{{ path("preguntas_addTemas") }}',
                data: data,
                success: function (data) {
                    var tema_selector = $("select[id$='temas']");

                    tema_selector.html('<option value="">- Seleccione Tema -</option>');

                    for (var i = 0, total = data.length; i < total; i++) {
                        tema_selector.append('<option value="' + data[i].id + '">' + data[i].descripcion + ' </option>');
                    }
                }
            });
        });
    </script>
{% endblock %}