
<div class="modal fade" id="myModal-{{pregunta.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Pregunta N°: {{pregunta.id}}
                    <span class="badge progress-bar-warning" data-toggle="tooltip" data-placement="left" title="Veces Vista">
                        {{pregunta.vecesVista}}
                    </span>
                    <span class="badge progress-bar-success" data-toggle="tooltip" data-placement="top" title="Veces Acertada">
                        {{pregunta.vecesAcertada}}
                    </span>
                </h4>
            </div>
            <div class="modal-body">
                {{ (pregunta.contenido|markdown) }}
                <h4> Respuestas posibles: </h4>
                {% for respuesta  in pregunta.respuestas %}
                    {{ (respuesta.contenido|markdown) }}
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div class="container col-md-12" >
    <div class="panel panel-primary">
        <div class="panel-heading">Pregunta:</div>
        <div class="text-center">
            {{ pregunta.contenido|markdown|raw }}
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading text-right">Respuestas Disponibles: {{ pregunta.respuestas.count }}</div>

        <table class="table table-condensed">
            {% for respuesta in pregunta.respuestas %}
                <tr {% if respuesta.correcta == TRUE %} class="success" {% else %} class="danger" {% endif%}>
                    <td class="col-sm-9">
                        <div style="height:150px;overflow:hidden; text-overflow-multiline:ellipsis;">
                            {{ respuesta.contenido|markdown|raw|truncate(150) }}
                        </div>
                    </td>
                    <td class="col-sm-3">
                        <div class="btn-group btn-group-sm pull-right" role="group" aria-label="..." >
                            <button type="button" class="btn btn-success" aria-label="Left Align" 
                                    data-toggle="tooltip" data-placement="top" title="Editar" 
                                    onclick="location.href = '{{ url('respuestas_edit',{'idPregunta': pregunta.id , 'idRespuesta': respuesta.id } ) }}';">
                                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                            </button>    
                            <button type="button" class="btn btn-danger" aria-label="Left Align" data-toggle="tooltip" data-placement="right" title="Eliminar"  onclick=" location.href = '{{ url('respuestas_disable',{ 'idRespuesta': respuesta.id}) }}';">
                                <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                            </button>    
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

