{{ form_start(quizForm,{ 'attr': {'class': 'form-horizontal' , 'id' : 'quiz_form'} }) }}
        {% for pregunta in quizForm.preguntas %}
            <div class="panel panel-primary">
                <div class="panel-heading text-right">Pregunta</div>
                <table class="table table-condensed">
                    <tr class="row">
                        <td class="col-sm-9" colspan='2'>
                            <div style="height:150px;overflow:hidden; text-overflow-multiline:ellipsis;">
                                {{ pregunta.vars.value.contenido|markdown|raw|truncate(150) }}
                                {{ form_widget(pregunta.contenido) }}
                                {{ form_widget(pregunta.id) }}
                            </div>
                            <span class="badge progress-bar-warning">
                                Vista: {{pregunta.vars.value.vecesVista}}
                            </span>
                            <span class="badge progress-bar-success">
                                Acertada: {{pregunta.vars.value.vecesAcertada}}
                            </span>
                            <span class="badge progress-bar-info">
                                {{pregunta.vars.value.getTemas[0].getMateria.Descripcion}}
                            </span>
                            <span class="badge progress-bar-danger">
                                {{pregunta.vars.value.creada|date("d/m/Y")}}
                            </span>
                        </td>
                    </tr>
                    {% for respuesta in pregunta.respuestas %}
                        <tr class="row">
                            <td class="col-sm-9">
                                <div style="height:150px;overflow:hidden; text-overflow-multiline:ellipsis;">
                                    {{ respuesta.vars.value.contenido|markdown|raw|truncate(150) }}
                                    {{ form_widget(respuesta.contenido) }}
                                    {{ form_widget(respuesta.id) }}
                                </div>
                            </td>
                            <td class="col-sm-3">
                                {{ form_widget(respuesta.elegida,{ 'attr' : { 'data-on-text' : 'Verdadero' , 'data-off-text' : 'Falso' } }) }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
        <div class="col-sm-12 text-center">
            {{ form_widget(quizForm.save,{ 'attr': {'class': 'btn btn-success' }  } ) }}
        </div>
        {{ form_row(quizForm._token) }}
        {{ form_end(quizForm, {'render_rest': false}) }}


<script type="text/javascript">
    $("[type='checkbox']").bootstrapSwitch();
</script>