{% extends 'AoshidowebBundle:Games:index.html.twig' %}

{% block title %}Quiz! {% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{{url('aoshidoweb_homepage')}}">Home</a></li>
        <li><a href="{{url('aoshidoweb_homepage')}}">Juegos</a></li>
        <li class="active">Examen</li>
    </ul>
{% endblock %}

{% block section %}Examen! {% endblock %}
{% block games_contenido %} 
    <div class="container-fluid col-md-12">
        {% if not (quizForm == null) %}
            {{ form_start(quizForm,{ 'attr': {'class': 'form-horizontal'} }) }}
            {% for pregunta in quizForm.preguntas %}

                <div class="panel panel-primary collapse in">
                    <div class="panel-heading">Temas: 
                        {% for tema in pregunta.vars.value.getTemas %}
                            &nbsp;<span class="badge">{{tema.getDescripcion}}</span>&nbsp;
                        {% endfor %}</div>
                    <div class="panel-body">
                        <blockquote>
                            <div style="height:150px;overflow:hidden; text-overflow-multiline:ellipsis;">
                                {{ pregunta.vars.value.contenido|markdown|raw|truncate(150) }}
                                {{ form_widget(pregunta.contenido) }}
                                {{ form_widget(pregunta.id) }}
                            </div>
                        </blockquote>

                        {% for respuesta in pregunta.respuestas %}
                            <div class="col-xs-12">
                                <div class="col-xs-2 text-right">
                                    {{ form_widget(respuesta.elegida,{ 'attr' : { 'data-on-text' : 'V' , 'data-off-text' : 'F', 'replace' : 'yes' , 'data-size' : 'small'  } }) }}
                                </div>
                                <div class="col-xs-10 text-left" style="overflow:hidden; text-overflow-multiline:ellipsis;">
                                    {{ respuesta.vars.value.contenido|markdown|raw|truncate(150) }}
                                    {{ form_widget(respuesta.contenido) }}
                                    {{ form_widget(respuesta.id) }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="panel-footer text-right">
                        <span class="badge" data-toggle="tooltip" data-placement="top" title="Vista:{{pregunta.vars.value.getVecesVista}} Respondida:{{pregunta.vars.value.getVecesAcertada}}">Dificultad: {{pregunta.vars.value.getDificultad|number_format(0, '.', ',')}}%</span>
                        <span class="badge">Creada:{{pregunta.vars.value.creada|date("d/m/Y")}}</span>
                    </div>
                </div>
            {% endfor %}
            <div class="col-sm-12 text-center">
                {{ form_widget(quizForm.save,{ 'attr': {'class': 'btn btn-success' }  } ) }}
            </div>
            {{ form_row(quizForm._token) }}
            {{ form_end(quizForm, {'render_rest': false}) }}
        {% else %}
            {% set vars = {'form': form } %}
            {% include 'AoshidowebBundle:Games:settings.html.twig' with vars %}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %} 
    {{ parent() }}

    <script type="text/javascript">
        $("[replace='yes']").bootstrapSwitch();
    </script>

    <script type="text/javascript">
        $(".btn-danger").popConfirm({
            title: "Borrar Pregunta",
            content: "¿Seguro que desea borrar la pregunta?",
            placement: "right",
            yesBtn: "Si",
            noBtn: "No"
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    {% include 'AoshidowebBundle:Games:materias_refresher.html.twig' %}
    {% include 'AoshidowebBundle:Games:temas_refresher.html.twig' %}
{% endblock %}