{% extends 'AoshidowebBundle:Games:index.html.twig' %}

{% block title %}Quiz! {% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{{url('aoshidoweb_homepage')}}">Home</a></li>
        <li><a href="{{url('aoshidoweb_homepage')}}">Games</a></li>
        <li><a href="{{url('games_quiz')}}">Quiz</a></li>
        <li class="active">Resultados</li>
    </ul>
{% endblock %}

{% block section %}Quiz! {% endblock %}
{% block games_contenido %}

    <div class="panel panel-primary">
        <div class="panel-heading clickable">
            <h3 class="panel-title">
                Preguntas Bien Contestadas: {{ correctas.count }}
            </h3>

            <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
        </div>
        <div class="panel-body">
            <table class="table">
                {% for pregunta in correctas %}
                    <tr class="row">
                        <td clas="col-sm-12">        
                            <div style="height:150px;overflow:hidden; text-overflow-multiline:ellipsis;">
                                {{ pregunta.contenido|markdown|raw|truncate(150) }}
                            </div>
                            <span class="badge progress-bar-warning">
                                Vista: {{pregunta.vecesVista}}
                            </span>
                            <span class="badge progress-bar-success">
                                Acertada: {{pregunta.vecesAcertada}}
                            </span>
                            <span class="badge progress-bar-info">
                                {{pregunta.getTemas[0].getMateria.Descripcion}}
                            </span>
                            <span class="badge progress-bar-danger">
                                {{pregunta.getCreada|date("d/m/Y")}}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>




    <div class="panel panel-warning">
        <div class="panel-heading clickable">
            <h3 class="panel-title">
                Preguntas No Contestadas: {{ noContestadas.count }}
            </h3>

            <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
        </div>
        <div class="panel-body">
            <table class="table table-condensed">
                {% for pregunta in noContestadas %}
                    <tr class="row">
                        <td clas="col-sm-12">
                            <div style="height:150px;overflow:hidden; text-overflow-multiline:ellipsis;">
                                {{ pregunta.contenido|markdown|raw|truncate(150) }}
                            </div>
                            <span class="badge progress-bar-warning">
                                Vista: {{pregunta.vecesVista}}
                            </span>
                            <span class="badge progress-bar-success">
                                Acertada: {{pregunta.vecesAcertada}}
                            </span>
                            <span class="badge progress-bar-info">
                                {{pregunta.getTemas[0].getMateria.Descripcion}}
                            </span>
                            <span class="badge progress-bar-danger">
                                {{pregunta.getCreada|date("d/m/Y")}}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="panel panel-danger">
        <div class="panel-heading clickable">
            <h3 class="panel-title">
                Preguntas Incorrectas: {{ incorrectas.count }} 
            </h3>
            
            <span class="pull-right clickable"><i class="glyphicon glyphicon-minus"></i></span>
        </div>
        <div class="panel-body">
            <table class="table table-condensed">
                {% for pregunta in incorrectasEntity %}
                    <tr class="row">
                        <td clas="col-sm-12">        
                            <div style="height:150px;overflow:hidden; text-overflow-multiline:ellipsis;">
                                {{ pregunta.contenido|markdown|raw|truncate(150) }}
                            </div>
                            <span class="badge progress-bar-warning">
                                Vista: {{pregunta.vecesVista}}
                            </span>
                            <span class="badge progress-bar-success">
                                Acertada: {{pregunta.vecesAcertada}}
                            </span>
                            <span class="badge progress-bar-info">
                                {{pregunta.getTemas[0].getMateria.Descripcion}}
                            </span>
                            <span class="badge progress-bar-danger">
                                {{pregunta.getCreada|date("d/m/Y")}}
                            </span>
                        </td>
                    </tr>
                    {% for preguntaElegida in incorrectas %}
                        {% if preguntaElegida.id == pregunta.id %}
                            {% for respuesta in preguntaElegida.respuestas%}
                                <tr class="row">
                                    <td class="col-sm-12  {% if respuesta.elegida == '1'%} danger {%endif%}">
                                        <div style="height:150px;overflow:hidden; text-overflow-multiline:ellipsis;">
                                            {{ respuesta.contenido|markdown|raw|truncate(150) }}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </table>
        </div>    
    </div>

{% endblock %}

{% block javascripts %} 
    {{ parent() }}

    <script>
        $(document).on('click', '.panel-heading span.clickable', function (e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.panel').find('.panel-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-minus').addClass('glyphicon-plus');
            } else {
                $this.parents('.panel').find('.panel-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-plus').addClass('glyphicon-minus');
            }
        });
        $(document).on('click', '.panel div.clickable', function (e) {
            var $this = $(this);
            if (!$this.hasClass('panel-collapsed')) {
                $this.parents('.panel').find('.panel-body').slideUp();
                $this.addClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-minus').addClass('glyphicon-plus');
            } else {
                $this.parents('.panel').find('.panel-body').slideDown();
                $this.removeClass('panel-collapsed');
                $this.find('i').removeClass('glyphicon-plus').addClass('glyphicon-minus');
            }
        });
        $(document).ready(function () {
            $('.panel-heading span.clickable').click();
            $('.panel div.clickable').click();
        });
    </script>


    <script type="text/javascript">
        $(".btn-danger").popConfirm({
            title: "Borrar Pregunta",
            content: "¿Seguro que desea borrar la pregunta?",
            placement: "right",
            yesBtn: "Si",
            noBtn: "No"
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <script type="text/javascript">
        $("select[id$='carrera']").change(function () {
            var data = {
                idcarrera: $(this).val()
            };

            $.ajax({
                type: 'post',
                url: '{{ path("preguntas_addMateria") }}',
                data: data,
                success: function (data) {
                    var $materia_selector = $("select[id$='materia']");

                    $materia_selector.html('<option value="">- Seleccione Materia -</option>');

                    for (var i = 0, total = data.length; i < total; i++) {
                        $materia_selector.append('<option value="' + data[i].id + '">' + data[i].descripcion + ' </option>');
                    }
                }
            });
        });
    </script>

    <script type="text/javascript">
        $("select[id$='materia']").change(function () {
            var data = {
                idmateria: $(this).val()
            };

            $.ajax({
                type: 'post',
                url: '{{ path("preguntas_addTemas") }}',
                data: data,
                success: function (data) {
                    var tema_selector = $("select[id$='temas']");

                    tema_selector.html('<option value="">- Seleccione Tema -</option>');

                    for (var i = 0, total = data.length; i < total; i++) {
                        tema_selector.append('<option value="' + data[i].id + '">' + data[i].descripcion + ' </option>');
                    }
                }
            });
        });
    </script>
{% endblock %}