{% extends 'AoshidowebBundle:Games:index.html.twig' %}

{% block title %}Quiz! {% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{{url('aoshidoweb_homepage')}}">Home</a></li>
        <li><a href="{{url('aoshidoweb_homepage')}}">Games</a></li>
        <li><a href="{{url('games_quiz')}}">Quiz</a></li>
        <li class="active">Resultados</li>
    </ul>
{% endblock %}

{% block section %}Resultados {% endblock %}
{% block games_contenido %}

    <div class="container">
        <div class="c100 p{{((correctas|length/(correctas|length+incorrectas|length)*100))|round(0,'common') }} big">
            <span>{{ ((correctas|length/(correctas|length+incorrectas|length)*100))|round(0,'common') }}%</span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
    </div>

    <h3>Correctas:</h3>            
    <div class="panel-group" id="correct_accordion" role="tablist" aria-multiselectable="true">
        {% for pregunta in correctas %}
            {% embed 'AoshidowebBundle:Games:_resultCorrectQuestion.html.twig' with {'pregunta': pregunta} %}
            {% endembed %}
        {% endfor %}
    </div>

    <h3>Incorrectas:</h3>
    <div class="panel-group" id="incorrect_accordion" role="tablist" aria-multiselectable="true">
        {% for pair in incorrectas %}
            {% embed 'AoshidowebBundle:Games:_resultIncorrectQuestion.html.twig' with {'pregunta': pair.0 , 'respuestas' : pair.1} %}
            {% endembed %}
        {% endfor %}
    </div>

    <div class="col-sm-12 text-center">
        <a href="{{path('games_quiz')}}"><button type="button" class="btn btn-primary">Volver</button></a>
    </div>

{% endblock %}

{% block javascripts %} 
    {{ parent() }}

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

{% endblock %}