{% extends 'AoshidowebBundle:Games:index.html.twig' %}

{% block title %}Quiz! {% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{{url('aoshidoweb_homepage')}}">Home</a></li>
        <li><a href="{{url('aoshidoweb_homepage')}}">Games</a></li>
        <li><a href="{{url('games_quiz')}}">Quiz</a></li>
        <li class="active">Resultados</li>
    </ul>
{% endblock %}

{% block section %}Quiz! {% endblock %}
{% block games_contenido %}

    <div class="panel panel-primary">
        <div class="panel-heading" role="tab" id="heading1">
            <h3 class="panel-title clickable"role="button" 
                data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
                Preguntas Bien Contestadas: {{ correctas.count }}
            </h3>
        </div>
        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
            <table class="table">
                {% for pregunta in correctas %}
                    <tr class="row">
                        <td clas="col-sm-12">        
                            <div style="height:150px;overflow:hidden; text-overflow-multiline:ellipsis;">
                                {{ pregunta.contenido|markdown|raw|truncate(150) }}
                            </div>
                            <span class="badge progress-bar-warning">
                                Vista: {{pregunta.vecesVista}}
                            </span>
                            <span class="badge progress-bar-success">
                                Acertada: {{pregunta.vecesAcertada}}
                            </span>
                            <span class="badge progress-bar-info">
                                {{pregunta.getTemas[0].getMateria.Descripcion}}
                            </span>
                            <span class="badge progress-bar-danger">
                                {{pregunta.getCreada|date("d/m/Y")}}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="panel panel-warning">
        <div class="panel-heading" role="tab" id="heading2">
            <h3 class="panel-title clickable" role="button" 
                data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                Preguntas No Contestadas: {{ noContestadas.count }}
            </h3>
        </div>
        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
            <table class="table table-condensed">
                {% for pregunta in noContestadas %}
                    <tr class="row">
                        <td clas="col-sm-12">
                            <div style="height:150px;overflow:hidden; text-overflow-multiline:ellipsis;">
                                {{ pregunta.contenido|markdown|raw|truncate(150) }}
                            </div>
                            <span class="badge progress-bar-warning">
                                Vista: {{pregunta.vecesVista}}
                            </span>
                            <span class="badge progress-bar-success">
                                Acertada: {{pregunta.vecesAcertada}}
                            </span>
                            <span class="badge progress-bar-info">
                                {{pregunta.getTemas[0].getMateria.Descripcion}}
                            </span>
                            <span class="badge progress-bar-danger">
                                {{pregunta.getCreada|date("d/m/Y")}}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="panel panel-danger">
        <div class="panel-heading" role="tab" id="heading3">
            <h3 class="panel-title clickable" role="button" 
                data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                Preguntas Incorrectas: {{ incorrectas.count }} 
            </h3>

        </div>
        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
            <table class="table table-condensed">
                {% for pregunta in incorrectasEntity %}
                    <tr class="row">
                        <td class="col-sm-12">        
                            <div style="height:150px;overflow:hidden; text-overflow-multiline:ellipsis;">
                                {{ pregunta.contenido|markdown|raw|truncate(150) }}
                            </div>
                            <span class="badge progress-bar-warning">
                                Vista: {{pregunta.vecesVista}}
                            </span>
                            <span class="badge progress-bar-success">
                                Acertada: {{pregunta.vecesAcertada}}
                            </span>
                            <span class="badge progress-bar-info">
                                {{pregunta.getTemas[0].getMateria.Descripcion}}
                            </span>
                            <span class="badge progress-bar-danger">
                                {{pregunta.getCreada|date("d/m/Y")}}
                            </span>
                        </td>
                    </tr>
                    {% for preguntaElegida in incorrectas %}
                        {% if preguntaElegida.id == pregunta.id %}
                            {% for respuesta in preguntaElegida.respuestas%}
                                <tr class="row">
                                    <td class="col-sm-12{% if respuesta.elegida == '1'%} danger {%endif%}">
                                        <div style="height:150px;overflow:hidden; text-overflow-multiline:ellipsis;">
                                            {{ respuesta.contenido|markdown|raw|truncate(150) }}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </table>
        </div>    
    </div>

{% endblock %}

{% block javascripts %} 
    {{ parent() }}

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

{% endblock %}