
{% trans_default_domain 'FOSUserBundle' %}


    <form class="navbar-form form-inline pull-right" action="{{ path("fos_user_security_check") }}" method="post">

        {% if error %}
            <div class="form-group alert alert-danger" style="padding-top: 6px; padding-bottom: 6px;">
                <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <div class="form-group">
            {#<label class="control-label" for="username">{{ 'security.login.username'|trans }}</label>#}
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username'|trans }}"/>
        </div>
        <div class="form-group">
            {#<label class="control-label" for="password">{{ 'security.login.password'|trans }}</label>#}
            <input class="form-control" type="password" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans }}" />
        </div>
        <div class="form-group">
            {#<label class="control-label"for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        </div>
        <div class="form-group">
            <input class="btn btn-success" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        </div>

    </form>



