<div class="col-sm-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Ultimos 10 usuarios
        </div>
        <table class="table table-condensed table-responsive table-hover">
            <tr class="info">
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Last Login</th>
                <th>Roles</th>
                <th>Locked</th>
            </tr>
            {% for user in paginas %}
                <tr >
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.lastLogin|date('Y-m-d h:i:s')}}</td>
                    <td>{% for rol in user.roles %} {{rol}} {% endfor %}</td>
                    <td>{{user.locked}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>