<div class="col-sm-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Ultimos 10 Bugs
        </div>
        <table class="table table-condensed table-responsive table-hover">
            <tr class="info">
                <th>ID</th>
                <th>Descripcion</th>
                <th>Respuesta</th>
                <th>Reporter</th>
                <th>Estado</th>
                <th>Activo</th>
            </tr>
            {% for bug in paginas %}
                <tr >
                    <td>{{bug.id}}</td>
                    <td>{{bug.contenido|truncate(100)}}</td>
                    <td>{{bug.respuesta|truncate(100)}}</td>
                    <td>{{bug.reportedUser.username}}</td>
                    <td>{{bug.status}}</td>
                    <td>
                        {% if (bug.activo) %}
                            <span style="font-size:16px; color:green;" class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span style="font-size:16px; color:brown;" class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>