<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Facebook meta -->
        <meta property="fb:app_id" content="628225720661887" />
        <meta property="og:title" content="Myosotis" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://myosotis.aoshido.com" />
        <meta property="og:image" content="{{app.request.getSchemeAndHttpHost()}}{% image '@AoshidowebBundle/Resources/public/images/MyosotisSplash.png' %}{{ asset_url }}{% endimage %}" />
        <meta property="og:description" content="Lets grind some assignments!"/>

        <!-- Twitter meta -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@Aoshido">
        <meta name="twitter:creator" content="@Aoshido">
        <meta name="twitter:title" content="Myosotis">
        <meta name="twitter:description" content="Lets grind some assignments!">
        <meta name="twitter:image" content="{{app.request.getSchemeAndHttpHost()}}{% image '@AoshidowebBundle/Resources/public/images/MyosotisSplash.png' %}{{ asset_url }}{% endimage %}" />

        <title>Myosotis {% block title %}{% endblock %}</title>
        {% block stylesheets %}

            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

            <!-- Optional theme -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

            <!-- Font awesome -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

            {% stylesheets '../app/Resources/public/css/*' filter='cssrewrite'%}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}

            {% stylesheets 'bundles/aoshidoweb/css/style.css' filter='cssrewrite'%}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}


        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{% image '@AoshidowebBundle/Resources/public/images/webpageIcon.png' %} {{ asset_url }} {% endimage %}" />
    </head>

    <body class="container-fluid" style="padding-top: 70px; " background="{% image '@AoshidowebBundle/Resources/public/images/background.jpg' %} {{ asset_url }} {% endimage %}">
        {% block body %}
            {% include 'AoshidowebBundle::navbar.html.twig' %}

                {% block content %}

                {% endblock %}

                <!--
                                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Responsive Bottom ->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-4410105350629177"
                     data-ad-slot="4081611648"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                -->
            

            {% include 'AoshidowebBundle::footer.html.twig' %}
            {% include 'AoshidowebBundle:Bugs:bugsplat.html.twig' %}
        {% endblock body %}

        {% block javascripts %}

            <!-- Jquery from GOOGLE CDN -->
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

            <script src = "//cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js" ></script>

            <script src = "https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/1.0.1/progressbar.min.js" ></script>

            {% javascripts '../app/Resources/public/js/bugsplat.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            {% javascripts '../app/Resources/public/js/rrssb.min.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            {% javascripts '../app/Resources/public/js/alertify.min.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            {% javascripts '../app/Resources/public/js/rrssb.min.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            {% include 'AoshidowebBundle::flash.html.twig' %}

            <!-- Facebook SDK -->
            <script>
                window.fbAsyncInit = function () {
                    FB.init({
                        appId: '628225720661887',
                        xfbml: true,
                        version: 'v2.5'
                    });
                };

                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) {
                        return;
                    }
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>

        {% endblock %}
    </body>
</html>
