{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '../app/Resources/public/css/*' filter='cssrewrite'%}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block meta_tags %}
    {{ parent() }}
    <link rel="icon" type="image/x-icon" href="{% image '@AoshidowebBundle/img/webpage_icon.png' %} {{ asset_url }} {% endimage %}" />
{% endblock %}

{% block sonata_head_title %}
    Myosotis

    {% if _title is not empty %}
        {{ _title|raw }}
    {% else %}
        {% if action is defined %}
            -
            {% for menu in breadcrumbs_builder.breadcrumbs(admin, action) %}
                {% if not loop.first %}
                    {%  if loop.index != 2 %}
                        &gt;
                    {% endif %}

                    {{ menu.label }}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif%}
{% endblock %}

{% block logo %}
    {% spaceless %}
        <a class="logo grad_vertical2" style="color: white" href="{{ path('sonata_admin_dashboard') }}">
            <i class="fa fa-envira green fa-rotate-90"></i>
            Myosotis
        </a>
    {% endspaceless %}
{% endblock %}

{% block sonata_nav %}
    <nav class="navbar navbar-static-top grad_vertical2" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-left" style="color: white">
            {% block sonata_breadcrumb %}
                <div class="hidden-xs">
                    {% if _breadcrumb is not empty or action is defined %}
                        <ol class="nav navbar-top-links breadcrumb">
                            {% if _breadcrumb is empty %}
                                {% if action is defined %}
                                    {% for menu in breadcrumbs_builder.breadcrumbs(admin, action) %}
                                        {% if not loop.last  %}
                                            <li>
                                                {% if menu.uri is not empty %}
                                                    <a href="{{ menu.uri }}">{{ menu.label|raw }}</a>
                                                {% else %}
                                                    {{ menu.label }}
                                                {% endif %}
                                            </li>
                                        {% else %}
                                            <li class="active"><span>{{ menu.label }}</span></li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% else %}
                                        {{ _breadcrumb|raw }}
                                    {% endif %}
                        </ol>
                    {% endif %}
                </div>
            {% endblock sonata_breadcrumb %}
        </div>

        {% block sonata_top_nav_menu %}
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-plus-square fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        {% include sonata_admin.adminPool.getTemplate('add_block') %}
                    </li>
                    <li class="dropdown user-menu">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            {% include sonata_admin.adminPool.getTemplate('user_block') %}
                        </ul>
                    </li>
                </ul>
            </div>
        {% endblock %}
    </nav>
{% endblock sonata_nav %}

{% block sonata_left_side %}
    <aside class="main-sidebar">
        <section class="sidebar">
            {% block sonata_side_nav %}
                {% block sonata_sidebar_search %}
                    {% if app.user and is_granted('ROLE_SONATA_ADMIN') %}
                        <form action="{{ path('sonata_admin_search') }}" method="GET" class="sidebar-form" role="search">
                            <div class="input-group custom-search-form">
                                <input type="text" name="q" value="{{ app.request.get('q') }}" class="form-control" placeholder="{{ 'search_placeholder'|trans({}, 'SonataAdminBundle') }}">
                                <span class="input-group-btn">
                                    <button class="btn btn-flat" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    {% endif %}
                {% endblock sonata_sidebar_search %}

                {% block side_bar_before_nav %} {% endblock %}
                {% block side_bar_nav %}
                    {% if app.user and is_granted('ROLE_SONATA_ADMIN') %}
                        {{ knp_menu_render('sonata_admin_sidebar', {template: sonata_admin.adminPool.getTemplate('knp_menu_template')}) }}
                    {% endif %}
                {% endblock side_bar_nav %}
                {% block side_bar_after_nav %}
                    <p class="text-center"><a href="{{ path('aoshidoweb_homepage') }}">
                            <i class="fa fa-home"></i>
                            Home
                        </a>
                    </p>
                {% endblock %}
            {% endblock sonata_side_nav %}
        </section>
    </aside>
{% endblock sonata_left_side %}

