{% extends 'AoshidowebBundle:Abms:index.html.twig' %}

{% block title %}Editar Materia{% endblock %}
{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{{url('aoshidoweb_homepage')}}">Home</a></li>
        <li><a href="{{url('abms_materias')}}">Materias</a></li>
        <li class="active">Editar</li>
    </ul>
{% endblock %}
{% block section %}Editar Materia{% endblock %}
{% block abms_contenido %} 
    <div class="container col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading text-right">Materias Disponibles: {{ paginas.getTotalItemCount }}</div>

            <table class="table table-condensed">

                {% for materia in paginas %}
                    <tr>
                        <td class="col-md-6">
                            <span class="badge progress-bar-info" data-toggle="tooltip" data-placement="left" title="Cantidad de Temas">
                                {% if materia.id in temasMaterias|keys %}
                                    {{temasMaterias[materia.id]}}
                                {% else %}
                                    0
                                {% endif %}
                            </span>

                            {{ materia.descripcion }}
                        </td>
                        <td class="col-md-1">{{ materia.aniocarrera }}</td>
                        <td class="col-md-1">
                            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                <button type="button" class="btn btn-success" aria-label="Left Align" data-toggle="tooltip" data-placement="left" title="Editar"  onclick="location.href = '{{ url('materias_edit',{ 'idMateria': materia.id})}}';">
                                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                </button>    
                                <button type="button" class="btn btn-danger" aria-label="Left Align" data-toggle="tooltip" data-placement="right" title="Eliminar" onclick="location.href = '#{# url('preguntas_DELETE',{ 'id': pregunta.id})#}';">
                                    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                                </button>    
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div class="col-md-offset-4 navigation">
                {{ knp_pagination_render(paginas) }}
            </div>

        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Editar Materias</div>

            <div class="panel-body">
                {% include 'AoshidowebBundle:Materias:form.html.twig' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %} 
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}