{% extends 'AoshidowebBundle:Abms:index.html.twig' %}

{% block section %} Abm Materias {% endblock %}
{% block abms_contenido %} 
    <div class="container col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading text-right">Materias Disponibles: {{ cantidad }}</div>

            <table class="table table-condensed">

                {% for materia in paginas %}
                    <tr>
                        <td class="col-md-6">{{ materia.descripcion }}</td>
                        <td class="col-md-1">{{ materia.aniocarrera }}</td>
                        <td class="col-md-1">
                            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                <button type="button" class="btn btn-success" aria-label="Left Align" onclick="location.href = '#{# url('preguntas_EDIT',{ 'id': pregunta.id})#}';">
                                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                </button>    
                                <button type="button" class="btn btn-danger" aria-label="Left Align" onclick="location.href = '#{# url('preguntas_DELETE',{ 'id': pregunta.id})#}';">
                                    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                                </button>    
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div class="navigation">
                {{ knp_pagination_render(paginas) }}
            </div>

        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Agregar Materias</div>

            <div class="panel-body">
                {{ form_start(form,{ 'attr': {'class': 'form-horizontal'} })}}
                {{ form_errors(form)}}
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(form.descripcion,null,{ 'label_attr' : { 'class' : 'col-md-2 control-label' } })}}
                        <div id="anchor" class="col-md-10">
                            {{ form_widget(form.descripcion,{ 'attr' : { 'class' : 'form-control' } }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.aniocarrera,null,{ 'label_attr' : { 'class' : 'col-md-2 control-label' } })}}
                        <div id="anchor" class="col-md-10">
                            {{ form_widget(form.aniocarrera,{ 'attr' : { 'class' : 'form-control' } }) }}
                        </div>
                    </div>
                </div>

                <div class="col-md-6">

                    {{ form_label(form.carreras) }}
                    <div class="panel-body">
                        {{ form_widget(form.carreras,{ 'attr' : { 'class' : 'form-control' } }) }}
                    </div>

                </div>

                <div class="form-group">
                    <div id="anchor" class="col-md-offset-5 col-md-4">
                        {{ form_widget(form.save,{ 'attr': {'class': 'btn btn-success'} }) }}
                    </div>
                    {{ form_row(form._token) }}
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
