{% extends 'AoshidowebBundle:Abms:index.html.twig' %}

{% block title %}Materias{% endblock %}
{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{{url('aoshidoweb_homepage')}}">Home</a></li>
        <li class="active">Materias</li>
    </ul>
{% endblock %}
{% block section %}Materias{% endblock %}
{% block abms_contenido %} 
    <div class="container col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading text-right">Materias Disponibles: {{ paginas.getTotalItemCount }}</div>

            <table class="table table-condensed">
                <th class="col-sm-8 info {% if paginas.isSorted('materia.descripcion') %}sorted{% endif %}">{{ knp_pagination_sortable(paginas, 'Descripcion', 'm.descripcion') }} </th>
                <th class="col-sm-1 info text-center {% if paginas.isSorted('materia.aniocarrera') %}sorted{% endif %}">{{ knp_pagination_sortable(paginas, 'Año', 'm.anioCarrera') }}</th>
                <th class="col-sm-3 info text-right"> Acciones </th>

                {% for materia in paginas %}
                    <tr>
                        <td class="col-sm-8">
                            <span class="badge progress-bar-info" data-toggle="tooltip" data-placement="left" title="Cantidad de Temas">
                                {% if materia.id in temasMaterias|keys %}
                                    {{temasMaterias[materia.id]}}
                                {% else %}
                                    0
                                {% endif %}
                            </span>
                            {{ materia.descripcion }}
                        </td>
                        <td class="col-sm-1 text-center">{{ materia.aniocarrera }}</td>
                        <td class="col-sm-3 text-right">
                            <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                <button type="button" class="btn btn-success" aria-label="Left Align" data-toggle="tooltip" data-placement="left" title="Editar"  onclick="location.href = '{{ url('materias_edit',{ 'idMateria': materia.id})}}';">
                                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                </button>    
                                <button type="button" class="btn btn-danger" aria-label="Left Align" data-toggle="tooltip" data-placement="right" title="Eliminar" onclick="location.href = '{{ url('materias_disable',{ 'idMateria': materia.id})}}';">
                                    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                                </button>    
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="navigation text-center">
            {{ knp_pagination_render(paginas) }}
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Agregar Materias</div>

            <div class="panel-body">
                {% include 'AoshidowebBundle:Materias:form.html.twig' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %} 
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    <script type="text/javascript">
        $(".btn-danger").popConfirm({
            title: "Borrar Pregunta",
            content: "¿Seguro que desea borrar la materia? Se borraran todos los temas y sus preguntas! ",
            placement: "right",
            yesBtn: "Si",
            noBtn: "No"
        });
    </script>

{% endblock %}