<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{path('aoshidoweb_homepage')}}">
                <span class="glyphicon glyphicon-leaf green" aria-hidden="true"></span>
                Tamasotis 
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if is_granted('ROLE_USER') %}
                    <li class="dropdown" >
                        <a data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Menu
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{path('abms_preguntas')}}"  data-parent="#MainMenu"><i class="fa fa-comments"></i> Preguntas</a></li>
                            <li><a href="{{path('abms_temas')}}"  data-parent="#MainMenu"><i class="fa fa-reorder"></i> Temas</a></li>
                            <li><a href="{{path('abms_materias')}}"  data-parent="#MainMenu"><i class="fa fa-book"></i> Materias</a></li>
                            <li><a href="{{path('abms_carreras')}}"  data-parent="#MainMenu"><i class="fa fa-institution"></i> Carreras</a></li>
                        </ul>
                    {% else %}

                    {% endif %}
                </li> 
                <li class="dropdown" >
                    <a data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span> Juegos
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="" {% block cards %} {% endblock %} >
                            <a href="{{path('games_cards')}}">
                                <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Cards
                            </a>
                        </li>
                        <li {% block quiz %} {% endblock %} >
                            <a href="{{path('games_quiz')}}">
                                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Quiz
                            </a>
                        </li>
                        <li {% block challenge %} {% endblock %} >
                            <a href="{{path('games_challenge')}}">
                                <span class="glyphicon glyphicon-tower" aria-hidden="true"></span> Challenge
                            </a>
                        </li>
                    </ul>
                </li>
                {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="" {% block registration %} {% endblock %} ><a href="{{ path('fos_user_registration_register') }}">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Registrate!
                        </a>
                    </li>
                {% endif %}
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown " >
                    <a data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Help
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="" {% block faq %} {% endblock %} >
                            <a href="{{path('aoshidoweb_faq')}}">
                                <i class="fa fa-question"></i> F.A.Q.
                            </a>
                        </li>
                        <li {% block about %} {% endblock %} >
                            <a href="{{path('aoshidoweb_bio')}}">
                                <i class="fa fa-heartbeat"></i> Acerca / Creditos
                            </a>
                        </li>
                        {#<li {% block postmortem %} {% endblock %} >
                            <a href="{{path('games_challenge')}}">
                                Post Mortem
                            </a>
                        </li>#}
                    </ul>
                </li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('fos_user_profile_show') }}">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Perfil
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_change_password') }}">
                                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Cambiar contraseña
                                </a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a href="{{ path('users_index') }}">
                                        <span class="glyphicon glyphicon-console" aria-hidden="true"></span> Users ABM
                                    </a>
                                </li>
                                <li class="" {% block bugs %} {% endblock %} >
                                    <a href="{{path('aoshidoweb_bugs')}}">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>           
                                        Bug Tracker
                                    </a>
                                </li>
                            {% endif %}
                            <li class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                        </ul>
                    </li>
                {% else %}
                    {{ render(controller('FOSUserBundle:Security:login')) }}
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

