<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{path('aoshidoweb_homepage')}}">
                <span class="glyphicon glyphicon-leaf green" aria-hidden="true"></span>
                Myosotis 
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if app.user and is_granted('ROLE_USER') %}
                    <li class="dropdown" >
                        <a data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
                            <i class="fa fa-bars fa-lg"></i> Menu
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{path('abms_preguntas')}}"  data-parent="#MainMenu"><i class="fa fa-comments"></i> Preguntas</a></li>
                            <li><a href="{{path('abms_temas')}}"  data-parent="#MainMenu"><i class="fa fa-reorder"></i> Temas</a></li>
                            <li><a href="{{path('abms_materias')}}"  data-parent="#MainMenu"><i class="fa fa-book"></i> Materias</a></li>
                            <li><a href="{{path('abms_carreras')}}"  data-parent="#MainMenu"><i class="fa fa-institution"></i> Carreras</a></li>
                        </ul>
                    {% else %}

                    {% endif %}
                </li> 
                <li class="dropdown" >
                    <a data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
                        <i class="fa fa-gamepad fa-lg"></i> Juegos
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="" {% block cards %} {% endblock %} >
                            <a href="{{path('games_cards')}}">
                                <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Cartas
                            </a>
                        </li>
                        <li {% block quiz %} {% endblock %} >
                            <a href="{{path('games_quiz')}}">
                                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Exámen
                            </a>
                        </li>
                        <li {% block challenge %} {% endblock %} >
                            <a href="{{path('games_challenge')}}">
                                <span class="glyphicon glyphicon-tower" aria-hidden="true"></span> Desafío
                            </a>
                        </li>
                    </ul>
                </li>
                {% if not app.user %}
                    <li class="" {% block registration %} {% endblock %} ><a href="{{ path('fos_user_registration_register') }}">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Registrate!
                        </a>
                    </li>
                {% endif %}
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown " >
                    <a data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Help
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="" {% block faq %} {% endblock %} >
                            <a href="{{path('aoshidoweb_faq')}}">
                                <i class="fa fa-question"></i> F.A.Q.
                            </a>
                        </li>
                        <li {% block about %} {% endblock %} >
                            <a href="{{path('aoshidoweb_bio')}}">
                                <i class="fa fa-heartbeat"></i> Acerca / Creditos
                            </a>
                        </li>
                        {% if not app.user %}
                            <li {% block reset %} {% endblock %} >
                                <a href="{{path('fos_user_resetting_request')}}">
                                    <i class="fa fa-refresh"></i> Resetear Password
                                </a>
                            </li>
                        {% endif %}
                        {#<li {% block postmortem %} {% endblock %} >
                            <a href="{{path('games_challenge')}}">
                                Post Mortem
                            </a>
                        </li>#}
                    </ul>
                </li>
                {% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li>
                        <div id="barra" style ="width: 35px; height: 35px; padding-top: 8px">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="-2 -1 42 42">
                            <path fill-opacity="0" stroke-width="1" stroke="#bbb" d="M 10.0107,39.0535 C 8.0927139,38.92517 5.9822053,38.337159 4.85338,36.6592 5.1822895,31.473484 6.0915318,25.778099 10.003886,22.003739 c 2.71587,-3.008117 6.27305,-5.12009 10.09069,-6.41333 3.230497,-1.120181 6.381864,-2.482311 9.233666,-4.390459 0.887933,-0.562007 2.434702,-1.5837221 2.867808,-1.9618053 -3.703234,1.9987263 -7.617793,3.6392523 -11.743033,4.5245803 -6.879194,1.79858 -13.339879,6.39582 -16.0204699,13.156317 -0.9352635,1.5582 -0.8847742,4.848531 -1.8828122,5.479146 C 0.16224651,30.881946 0.26671867,27.738843 0.45311284,25.24957 0.89346848,19.257586 4.3468258,13.526107 9.6683567,10.648051 15.45406,7.2390015 22.279572,6.5690208 28.820743,5.8571903 32.792319,5.5308631 36.731262,3.4982988 38.7831,0 37.534226,8.9455616 34.855699,17.833743 30.046303,25.533672 26.207096,31.688991 20.324069,36.91901 13.102522,38.530907 12.08423,38.769771 11.050708,38.942911 10.0107,39.0535 Z"/>
                            <path id="leaf-path" fill-opacity="0" stroke-width="1.5" stroke="#00a65a" d="M 10.0107,39.0535 C 8.0927139,38.92517 5.9822053,38.337159 4.85338,36.6592 5.1822895,31.473484 6.0915318,25.778099 10.003886,22.003739 c 2.71587,-3.008117 6.27305,-5.12009 10.09069,-6.41333 3.230497,-1.120181 6.381864,-2.482311 9.233666,-4.390459 0.887933,-0.562007 2.434702,-1.5837221 2.867808,-1.9618053 -3.703234,1.9987263 -7.617793,3.6392523 -11.743033,4.5245803 -6.879194,1.79858 -13.339879,6.39582 -16.0204699,13.156317 -0.9352635,1.5582 -0.8847742,4.848531 -1.8828122,5.479146 C 0.16224651,30.881946 0.26671867,27.738843 0.45311284,25.24957 0.89346848,19.257586 4.3468258,13.526107 9.6683567,10.648051 15.45406,7.2390015 22.279572,6.5690208 28.820743,5.8571903 32.792319,5.5308631 36.731262,3.4982988 38.7831,0 37.534226,8.9455616 34.855699,17.833743 30.046303,25.533672 26.207096,31.688991 20.324069,36.91901 13.102522,38.530907 12.08423,38.769771 11.050708,38.942911 10.0107,39.0535 Z"/>
                            </svg>
                        </div>
                    </li>
                    <li class="dropdown" >
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-left: 0px">  
                            {{ app.user.username }} 
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('fos_user_profile_show') }}">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Perfil
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_change_password') }}">
                                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Cambiar contraseña
                                </a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                                {#
                                <li>
                                    <a href="{{ path('users_index') }}">
                                        <span class="glyphicon glyphicon-console" aria-hidden="true"></span> Users ABM
                                    </a>
                                </li>
                                #}
                                <li>
                                    <a href="{{ path('admin_cache') }}">
                                        <i class="fa fa-cogs" aria-hidden="true"></i> Assets / Cache
                                    </a>
                                </li>
                                <li class="" {% block bugs %} {% endblock %} >
                                    <a href="{{path('aoshidoweb_bugs')}}">
                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>           
                                        Bug Tracker
                                    </a>
                                </li>
                                <li class="" {% block admin %} {% endblock %} >
                                    <a href="{{ path('sonata_admin_dashboard') }}">
                                        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>           
                                        Admin
                                    </a>
                                </li>

                            {% endif %}
                            <li class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                        </ul>
                    </li>
                {% else %}
                    {{ render(controller('FOSUserBundle:Security:login')) }}
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

