<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" >Aoshido</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li {% block home %} {% endblock %} ><a href="{{path('aoshidoweb_homepage')}}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
                    </a>
                </li>
                <li class="dropdown" >
                    <a data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle" href="#{#path('abms_index')#}">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> ABMs
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{path('abms_preguntas')}}"  data-parent="#MainMenu">Preguntas</a></li>
                        <li><a href="#"  data-parent="#MainMenu">Respuestas</a></li>
                        <li><a href="{{path('abms_temas')}}"  data-parent="#MainMenu">Temas</a></li>
                        <li><a href="{{path('abms_materias')}}"  data-parent="#MainMenu">Materias</a></li>
                        <li><a href="{{path('abms_carreras')}}"  data-parent="#MainMenu">Carreras</a></li>
                    </ul>
                </li> 
                <li class="disabled" {% block quiz %} {% endblock %} ><a href="#">
                        <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Quiz!
                    </a>
                </li>
                <li class="disabled" {% block cards %} {% endblock %} ><a href="#">
                        <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Cards
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li {% block bio %} {% endblock %} ><a href="{{path('aoshidoweb_bio')}}">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Bio/Credits
                    </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

