{% extends 'AoshidowebBundle:Abms:index.html.twig' %}

{% block title %}Responder Pregunta{% endblock %}
{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{{url('aoshidoweb_homepage')}}">Home</a></li>
        <li><a href="{{url('abms_preguntas')}}">Pregunta</a></li>
        <li class="active">Respuestas</li>
    </ul>
{% endblock %}

{% block section %}Respuestas{% endblock %}

{% block abms_contenido %} 
    <div class="container col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Pregunta:</div>
            <div class="text-center">
                {{ pregunta.contenido|markdown|raw }}
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading text-right">Respuestas Disponibles: {{ pregunta.respuestas.count }}</div>

            <table class="table table-condensed">
                {% for respuesta in paginas %}
                    <tr {% if respuesta.correcta == TRUE %} class="success" {% else %} class="danger" {% endif%}>
                        <td class="col-sm-9">

                            <div style="height:150px;overflow:hidden; text-overflow-multiline:ellipsis;">

                                {{ respuesta.contenido|markdown|raw|truncate(150)}}
                            </div>
                        </td>
                        <td class="col-sm-3 text-right">
                            <div class="btn-group btn-group-sm" role="group" aria-label="..." >
                                <button type="button" class="btn btn-success" aria-label="Left Align" 
                                        data-toggle="tooltip" data-placement="top" title="Editar" 
                                        onclick="location.href = '{{ url('respuestas_edit',{'idPregunta': pregunta.id , 'idRespuesta': respuesta.id } ) }}';">
                                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                </button>    
                                <button type="button" class="btn btn-danger" aria-label="Left Align" data-toggle="tooltip" data-placement="right" title="Eliminar"  onclick=" location.href = '{{ url('respuestas_disable',{ 'idRespuesta': respuesta.id}) }}';">
                                    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                                </button>    
                            </div>

                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="text-center navigation">
            {{ knp_pagination_render(paginas) }}
        </div>
        {% include 'AoshidowebBundle:Respuestas:form.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %} 
    {{ parent() }}

    <script type="text/javascript">
        $(".btn-danger").popConfirm({
            title: "Borrar Pregunta",
            content: "¿Seguro que desea borrar la Respuesta?",
            placement: "right",
            yesBtn: "Si",
            noBtn: "No"
        });
    </script>

    <script type="text/javascript">
        CKEDITOR.replace('respuesta_contenido');
    </script>

    <script type="text/javascript">
        $("[replace='yes']").bootstrapSwitch();
    </script>

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <script type="text/javascript">
        $("select[id$='idcarrera']").change(function () {
            var data = {
                idcarrera: $(this).val()
            };

            $.ajax({
                type: 'post',
                url: '{{ path("preguntas_addMateria") }}',
                data: data,
                success: function (data) {
                    var $materia_selector = $("select[id$='idmateria']");

                    $materia_selector.html('<option value="">- Seleccione Materia -</option>');

                    for (var i = 0, total = data.length; i < total; i++) {
                        $materia_selector.append('<option value="' + data[i].id + '">' + data[i].descripcion + ' </option>');
                    }
                }
            });
        });
    </script>

    <script type="text/javascript">
        $("select[id$='idmateria']").change(function () {
            var data = {
                idmateria: $(this).val()
            };

            $.ajax({
                type: 'post',
                url: '{{ path("preguntas_addTemas") }}',
                data: data,
                success: function (data) {
                    var tema_selector = $("select[id$='idtema']");

                    tema_selector.html('<option value="">- Seleccione Tema -</option>');

                    for (var i = 0, total = data.length; i < total; i++) {
                        tema_selector.append('<option value="' + data[i].id + '">' + data[i].descripcion + ' </option>');
                    }
                }
            });
        });
    </script>
{% endblock %}