{% extends '::base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Let's Study!{% endblock %}
{% block content %}
    <div class="jumbotron alpha60">
        <h1 id="test">Estudiantes!</h1>
        <p> Esta página nació con la intención de ayudar a estudiar (o quizás memorizar mejor)
            todos esos millones y millones de verdaderos o falsos, múltiples choices, conceptos y
            demás cuestiones tan necesarias para aprobar.</p>
        <p>Si no estás seguro de como usar la página, <a href="{{path('aoshidoweb_faq')}}"> visita nuestro FAQ!</a></p>

        <h2>Modos</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="{{path('games_quiz')}}">
                        <img src="{% image '@AoshidowebBundle/img/quiz.jpg' %} {{ asset_url }} {% endimage %}" alt="Quiz">
                    </a>
                    <div class="caption">
                        <h3 class="text-center">Modo Exámen</h3>
                        <p>Prepara un examen de la materia que uno elija</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="{{path('games_cards')}}">
                        <img src="{% image '@AoshidowebBundle/img/cards.jpg' %} {{ asset_url }} {% endimage %}" alt="Cards">
                    </a>
                    <div class="caption">
                        <h3 class="text-center">Modo Cartas</h3>
                        <p>Tarjetas con las respuestas para ejercitar la memoria!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="{{path('games_challenge')}}">
                        <img src="{% image '@AoshidowebBundle/img/challenge.jpg' %} {{ asset_url }} {% endimage %}" alt="Challenge">
                    </a>
                    <div class="caption">
                        <h3 class="text-center">Modo Desafío</h3>
                        <p>Selecciona un tema y contesta preguntas hasta equivocarte!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center" style="max-width:60%; float:none; margin: 0 auto;">
            {% include 'AoshidowebBundle:Default:_socialButtons.html.twig' %}
        </div>
    </div>
</div>


{% endblock %}

{% block javascripts %} 
    {{ parent() }}

{% endblock %}