{% extends '::base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Let's Study!{% endblock %}
{% block content %}
    <div class="jumbotron alpha60">
        <h1>Estudiantes!</h1>
        <p>{{'Esta'|trans}} pagina nacio con la intencion de ayudar a estudiar (o quizas memorizar mejor)
            todos esos millones y millones de verdaderos o falsos, multiples choices, conceptos y
            demas cuestiones tan necesarias para aprobar.</p>
        <p>Si no estas seguro de como usar la pagina, <a href="{{path('aoshidoweb_faq')}}"> visita nuestro FAQ!</a></p>

        <h2>{{'Modes'|trans}}</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="{{path('games_quiz')}}">
                        <img src="{% image '@AoshidowebBundle/img/quiz.jpg' %} {{ asset_url }} {% endimage %}" alt="Quiz">
                    </a>
                    <div class="caption">
                        <h3 class="text-center">Quiz Mode</h3>
                        <p>Prepara un examen de la materia que uno elija.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="{{path('games_cards')}}">
                        <img src="{% image '@AoshidowebBundle/img/cards.jpg' %} {{ asset_url }} {% endimage %}" alt="Cards">
                    </a>
                    <div class="caption">
                        <h3 class="text-center">Cards Mode</h3>
                        <p>Tarjetas con las respuestas para ejercitar la memoria!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="{{path('games_challenge')}}">
                        <img src="{% image '@AoshidowebBundle/img/challenge.jpg' %} {{ asset_url }} {% endimage %}" alt="Challenge">
                    </a>
                    <div class="caption">
                        <h3 class="text-center">Challenge Mode</h3>
                        <p>Selecciona un tema y contesta preguntas hasta equivocarte!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% include 'AoshidowebBundle:Default:_socialButtons.html.twig' %}
        </div>
    </div>
</div>


{% endblock %}

{% block javascripts %} 
    {{ parent() }}

    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <script>
                alertify.log("{{flash}}", "{{label}}", 5000);
            </script>
        {% endfor %}
    {% endfor %}

    <div id="fb-root"></div>
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id))
                return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>


    <script type="text/javascript">
        (function () {
            var po = document.createElement('script');
            po.type = 'text/javascript';
            po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
        }
        )();
    </script>

    <script>
        !function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + '://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, 'script', 'twitter-wjs');
    </script>

    <script>
        $(document).ready(function () {
            Socialite.load();
        });
    </script>
{% endblock %}
