{% extends '::base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Let's Study!{% endblock %}
{% block content %}
    <div class="jumbotron alpha60">
        <h1>Estudiantes!</h1>
        <p>{{'Esta'|trans}} pagina nacio con la intencion de ayudar a estudiar (o quizas memorizar mejor)
            todos esos millones y millones de verdaderos o falsos, multiples choices, conceptos y
            demas cuestiones tan necesarias para aprobar.</p>

        <h2>{{'Modes'|trans}}</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="{{path('games_quiz')}}">
                        <img src="{% image '@AoshidowebBundle/img/quiz.jpg' %} {{ asset_url }} {% endimage %}" alt="Quiz">
                    </a>
                    <div class="caption">
                        <h3 class="text-center">Quiz Mode</h3>
                        <p>Prepara un examen de la materia que uno elija.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="{{path('games_cards')}}">
                        <img src="{% image '@AoshidowebBundle/img/cards.jpg' %} {{ asset_url }} {% endimage %}" alt="Cards">
                    </a>
                    <div class="caption">
                        <h3 class="text-center">Cards Mode</h3>
                        <p>Tarjetas con las respuestas para ejercitar la memoria!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="{{path('games_challenge')}}">
                        <img src="{% image '@AoshidowebBundle/img/challenge.jpg' %} {{ asset_url }} {% endimage %}" alt="Challenge">
                    </a>
                    <div class="caption">
                        <h3 class="text-center">Challenge Mode</h3>
                        <p>Selecciona un tema y contesta preguntas hasta equivocarte!</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div id="buttonsSocial">
                    
                    <div class="facebook buttonSocial col-sm-4">
                        <i class="icon-facebook"></i>
                        <div class="social-container fb">
                            <div class="slide">
                                <iframe 
                                    src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fmyosotis.aoshido.com.ar%2Fdocs%2Freference%2Fplugins%2Flike&amp;
                                    send=false&amp;
                                    layout=button_count&amp;
                                    width=90&amp;
                                    show_faces=false&amp;
                                    font&amp;
                                    colorscheme=light&amp;
                                    action=like&amp;
                                    height=21&amp;
                                    appId=568581339861351" 
                                    scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:81px; height:21px;" allowtransparency="true">
                                </iframe>
                            </div>
                            Facebook
                        </div>
                    </div>
                    <div class="twitter buttonSocial col-sm-4">
                        <i class="icon-twitter"></i>
                        <div class="social-container tw">
                            <div class="slide">
                                <a href="https://twitter.com/share" class="twitter-share-button" data-via="mariuCSS">
                                    Tweet </a>

                            </div>
                            Twitter
                        </div>
                    </div>
                    <div class="google buttonSocial col-sm-4">
                        <i class="icon-google-plus"></i>
                        <div class="social-container tw">
                            <div class="slide">
                                <!-- Place this tag where you want the +1 button to render. -->
                                <div class="g-plusone" data-size="medium">
                                </div>
                            </div>
                            Google+
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


{% endblock %}

{% block javascripts %} 
    {{ parent() }}

    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <script>
                alertify.log("{{flash}}", "{{label}}", 5000);
            </script>
        {% endfor %}
    {% endfor %}

    <div id="fb-root"></div>
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id))
                return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>


    <script type="text/javascript">
        (function () {
            var po = document.createElement('script');
            po.type = 'text/javascript';
            po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
        }
        )();
    </script>

    <script>
        !function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + '://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, 'script', 'twitter-wjs');
    </script>

    <script>
        $(document).ready(function () {
            Socialite.load();
        });
    </script>
{% endblock %}
