{% trans_default_domain 'FOSUserBundle' %}
<div class="jumbotron alpha60">
    <table>
        <tr>
            <td class="col-sm-3">
                <img src="{% image '@AoshidowebBundle/img/bichi.jpg' %} {{ asset_url }} {% endimage %}" 
                     alt="..." class="img-circle" width="200px" height="200px">
            </td>
            <td class="col-sm-9">
                <div class="panel panel-primary">
                    <div class="panel-heading">{{ user.username }}</div>
                    <table class="table table-condensed">
                        <tr class="row">
                            <td class="col-sm-3">{{ 'profile.show.email'|trans }}</td>
                            <td class="col-sm-9">{{ user.email }}</td>
                        </tr>
                        <tr class="row">
                            <td class="col-sm-3">{{ 'profile.show.email'|trans }}</td>
                            <td class="col-sm-9">{{ user.email }}</td>
                        </tr>
                        <tr class="row">
                            <td class="col-sm-3">{{ 'profile.show.email'|trans }}</td>
                            <td class="col-sm-9">{{ user.email }}</td>
                        </tr>
                        <tr class="row">
                            <td class="col-sm-3">{{ 'profile.show.email'|trans }}</td>
                            <td class="col-sm-9">{{ user.email }}</td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
