{% trans_default_domain 'FOSUserBundle' %}
<div class="col-md-offset-2 col-md-8">
    <div class="card hovercard">
        <div class="card-background">
            <img class="card-bkimg" alt="" src="{% image '@AoshidowebBundle/img/bichi.jpg' %} {{ asset_url }} {% endimage %}">
        </div>
        <div class="useravatar">
            <img alt="" src="{% image '@AoshidowebBundle/img/bichi.jpg' %} {{ asset_url }} {% endimage %}">
        </div>
        <div class="card-info"> <span class="card-title">{{ user.username }}</span>

        </div>
    </div>
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <div class="hidden-xs">Datos / Stats</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                <div class="hidden-xs">Preguntas</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                <div class="hidden-xs">Bugs Reportados</div>
            </button>
        </div>
    </div>

    <div class="panel">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1">
                <table class="table table-condensed">
                    <tr>
                        <td> Usuario: </td>
                        <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <td> Mail: </td>
                        <td>{{ user.email }}</td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane fade in" id="tab2">
                <table class="table table-condensed">
                    {% for pregunta in paginas %}
                        <tr class="row">
                            <td class="col-sm-9">
                                <div style="height:150px;overflow:hidden; text-overflow-multiline:ellipsis;">
                                    {{ pregunta.contenido|markdown|raw|truncate(150) }}
                                </div>
                                <span class="badge progress-bar-warning">
                                    Vista: {{pregunta.vecesVista}}
                                </span>
                                <span class="badge progress-bar-success">
                                    Acertada: {{pregunta.vecesAcertada}}
                                </span>
                                <span class="badge progress-bar-info">
                                    {{pregunta.getTemas[0].getMateria.Descripcion}}
                                </span>
                                <span class="badge progress-bar-danger">
                                    {{pregunta.getCreada|date("d/m/Y")}}
                                </span>
                            </td>
                            <td class="col-sm-3">
                                <div class="btn-group btn-group-sm pull-right" role="group" aria-label="..." >
                                    <button type="button" class="btn btn-info" aria-label="Left Align" data-toggle="tooltip" data-placement="left" title="Responder" onclick="location.href = '{{ url('respuestas_new',{ 'idPregunta': pregunta.id}) }}';">
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-success" aria-label="Left Align" data-toggle="tooltip" data-placement="top" title="Editar" onclick="location.href = '{{ url('preguntas_edit',{ 'idPregunta': pregunta.id}) }}';">
                                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                    </button>    
                                    <button type="button" class="btn btn-danger" aria-label="Left Align" data-toggle="tooltip" data-placement="right" title="Eliminar"  onclick=" location.href = '{{ url('preguntas_disable',{ 'idPregunta': pregunta.id}) }}';">
                                        <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                                    </button>    
                                </div>

                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="col-sm-12 text-center navigation">
                    {{ knp_pagination_render(paginas) }}
                </div>
            </div>
            <div class="tab-pane fade in" id="tab3">
                <table class="table table-condensed">
                {% for bug in bugs %}
                    <tr class="row">
                        <td class="col-sm-1">
                            {% if bug.status == 'Reported'%}
                                <span class="badge progress-bar-warning" data-toggle="tooltip" data-placement="left" title="Estado">
                                    {{bug.status}}
                                </span>
                            {%elseif bug.status == 'Fixed'%}
                                <span class="badge progress-bar-success" data-toggle="tooltip" data-placement="left" title="Estado">
                                    {{bug.status}}
                                </span>
                            {%elseif bug.status == 'Won\'t Fix'%}
                                <span class="badge progress-bar-info" data-toggle="tooltip" data-placement="left" title="Estado">
                                    {{bug.status}}
                                </span>
                            {%endif%}
                        </td>
                        <td class="col-sm-11">    
                            {{ bug.contenido }}
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>

</div>
