{% trans_default_domain 'FOSUserBundle' %}
<div class="jumbotron alpha60 container-fluid">
    <ul class="breadcrumb">
        <li><a href="{{url('aoshidoweb_homepage')}}">Home</a></li>
        <li>Perfil</li>
    </ul>
    <h2> Perfil </h2>
    <div class="col-sm-12">
        <div class="card hovercard">
            <div class="card-background">
                <img class="card-bkimg" alt="" src="{% image '@AoshidowebBundle/Resources/public/images/bichi.jpg' %} {{ asset_url }} {% endimage %}">
            </div>
            <div class="useravatar">
                <img alt="" src="{% image '@AoshidowebBundle/Resources/public/images/bichi.jpg' %} {{ asset_url }} {% endimage %}">
            </div>
            <div class="card-info"> <span class="card-title">{{ user.username }}</span>

            </div>
        </div>
        <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <div class="hidden-xs">Datos</div>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                    <div class="hidden-xs">Preguntas</div>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    <div class="hidden-xs">Bugs Reportados</div>
                </button>
            </div>
        </div>

        <div class="panel">
            <div class="tab-content">
                <div class="tab-pane fade in active container" id="tab1">
                    <div class="col-xs-2" style="padding: 0;">
                        <div id="barra2" class="center-block text-right" style ="padding-top: 5%; ">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="-2 -1 42 42" style="max-width: 120px">
                            <path fill-opacity="0" stroke-width="1" stroke="#bbb" d="M 10.0107,39.0535 C 8.0927139,38.92517 5.9822053,38.337159 4.85338,36.6592 5.1822895,31.473484 6.0915318,25.778099 10.003886,22.003739 c 2.71587,-3.008117 6.27305,-5.12009 10.09069,-6.41333 3.230497,-1.120181 6.381864,-2.482311 9.233666,-4.390459 0.887933,-0.562007 2.434702,-1.5837221 2.867808,-1.9618053 -3.703234,1.9987263 -7.617793,3.6392523 -11.743033,4.5245803 -6.879194,1.79858 -13.339879,6.39582 -16.0204699,13.156317 -0.9352635,1.5582 -0.8847742,4.848531 -1.8828122,5.479146 C 0.16224651,30.881946 0.26671867,27.738843 0.45311284,25.24957 0.89346848,19.257586 4.3468258,13.526107 9.6683567,10.648051 15.45406,7.2390015 22.279572,6.5690208 28.820743,5.8571903 32.792319,5.5308631 36.731262,3.4982988 38.7831,0 37.534226,8.9455616 34.855699,17.833743 30.046303,25.533672 26.207096,31.688991 20.324069,36.91901 13.102522,38.530907 12.08423,38.769771 11.050708,38.942911 10.0107,39.0535 Z"/>
                            <path id="leaf-path2" fill-opacity="0" stroke-width="1.5" stroke="#00a65a" d="M 10.0107,39.0535 C 8.0927139,38.92517 5.9822053,38.337159 4.85338,36.6592 5.1822895,31.473484 6.0915318,25.778099 10.003886,22.003739 c 2.71587,-3.008117 6.27305,-5.12009 10.09069,-6.41333 3.230497,-1.120181 6.381864,-2.482311 9.233666,-4.390459 0.887933,-0.562007 2.434702,-1.5837221 2.867808,-1.9618053 -3.703234,1.9987263 -7.617793,3.6392523 -11.743033,4.5245803 -6.879194,1.79858 -13.339879,6.39582 -16.0204699,13.156317 -0.9352635,1.5582 -0.8847742,4.848531 -1.8828122,5.479146 C 0.16224651,30.881946 0.26671867,27.738843 0.45311284,25.24957 0.89346848,19.257586 4.3468258,13.526107 9.6683567,10.648051 15.45406,7.2390015 22.279572,6.5690208 28.820743,5.8571903 32.792319,5.5308631 36.731262,3.4982988 38.7831,0 37.534226,8.9455616 34.855699,17.833743 30.046303,25.533672 26.207096,31.688991 20.324069,36.91901 13.102522,38.530907 12.08423,38.769771 11.050708,38.942911 10.0107,39.0535 Z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <table class="table table-condensed" style="margin-top: 1%; margin-bottom: 0;">
                            <tr>
                                <td class="col-xs-1 text-right" style="border-top: none !important;"> <b>Nombre</b> </td>
                                <td class="col-xs-11" style ="border-top: none !important;">{{ user.username }}</td>
                            </tr>
                            <tr>
                                <td class="col-xs-1 text-right" style="border-top: none !important;"> <b>Mail</b> </td>
                                <td class="col-xs-11" style ="border-top: none !important;">{{ user.email }}</td>
                            </tr>
                            <tr>
                                <td class="col-xs-1 text-right" style ="border-top: none !important;"> <b>Nivel</b> </td>
                                <td class="col-xs-11" style ="border-top: none !important;">
                                    <div class="progress progress-xs progress-striped active" style="max-height:20px; margin:0">
                                        <div class="progress-bar progress-bar-success" style="width: {{ user.level }}%">{{ user.level }}</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-xs-1 text-right" style ="border-top: none !important;"> <b>Experencia</b> </td>
                                <td class="col-xs-11" style ="border-top: none !important;">
                                    <div class="progress progress-xs progress-striped active" style="max-height:20px; margin:0">
                                        <div class="progress-bar progress-bar-success" style="width: {{(((( app.user.currentExperience / ((2**app.user.level) - app.user.currentExperience))))*100)|round}}%">{{ user.currentExperience }} de {{ (2**app.user.level) }} Puntos</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade in" id="tab2">
                    <table class="table table-condensed">
                        {% for pregunta in paginas %}
                            <tr class="row">
                                <td class="col-sm-12 clickable" data-toggle="modal" data-target="#myModal-{{pregunta.id}}">
                                    <div class="flip-container">
                                        <div class="flipper"  >
                                            <div class="front " >
                                                <div style="height:150px;overflow:hidden; text-overflow:ellipsis;">
                                                    {{ pregunta.contenido|markdown|raw|truncate(100) }}
                                                </div>

                                                <div class="col-xs-8 text-left" style="padding-right: 0px; padding-left: 5px;">
                                                    <div class="progress">
                                                        <div class="progress-bar 
                                                             progress-bar-{%if pregunta.getDificultad >= 80 %}danger{%else%}{%if pregunta.getDificultad >= 50 %}warning{%else%}success{%endif%}{%endif%}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{pregunta.getDificultad|number_format(0, '.', ',')}}%;">
                                                            <span class="sr-only">{{pregunta.getDificultad|number_format(0, '.', ',')}}% Dificultad</span>
                                                        </div>
                                                        <span class="progress-type">Dificultad</span>
                                                        <span class="progress-completed">{{pregunta.getDificultad|number_format(0, '.', ',')}}%</span>
                                                    </div>
                                                </div>

                                                <div class="col-xs-4 text-left" style="padding-left: 5px;">
                                                    <span class="badge progress-bar-info">
                                                        {{pregunta.getTemas[0].getMateria.Descripcion| truncate(10, false, "??")}}
                                                    </span>
                                                    <span class="badge progress-bar-danger">
                                                        {{pregunta.getCreada|date("d/m/Y")}}
                                                    </span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div class="col-sm-12 text-center navigation">
                        {{ knp_pagination_render(paginas) }}
                    </div>
                </div>
                <div class="tab-pane fade in" id="tab3">
                    <table class="table table-condensed">
                        {% for bug in bugs %}
                            <tr class="row">
                                <td class="col-sm-1">
                                    {% if bug.status == 'Reported'%}
                                        <span class="badge progress-bar-warning" data-toggle="tooltip" data-placement="left" title="Estado">
                                            {{bug.status}}
                                        </span>
                                    {%elseif bug.status == 'Fixed'%}
                                        <span class="badge progress-bar-success" data-toggle="tooltip" data-placement="left" title="Estado">
                                            {{bug.status}}
                                        </span>
                                    {%elseif bug.status == 'Won\'t Fix'%}
                                        <span class="badge progress-bar-info" data-toggle="tooltip" data-placement="left" title="Estado">
                                            {{bug.status}}
                                        </span>
                                    {%endif%}
                                </td>
                                <td class="col-sm-11">    
                                    {{ bug.contenido }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
