{% extends 'AoshidowebBundle:Abms:index.html.twig' %}

{% block abms_contenido %} 
    {% form_theme form 'AoshidowebBundle:Themes:carrera-field-prototype.html.twig' %}
    <div class="container col-md-12">
        
        <div class="panel panel-primary">
            <div class="panel-heading">Editar Carrera: {{carrera.descripcion}}</div>

            <div class="panel-body">
                {{ form_start(form,{ 'attr': {'class': 'form-horizontal'} })}}
                {{ form_errors(form)}}
                <div class="form-group">
                    {{ form_label(form.descripcion,null,{ 'label_attr' : { 'class' : 'col-md-2 control-label' } })}}
                    <div id="anchor" class="col-md-6">
                        {{ form_widget(form.descripcion,{ 'attr' : { 'class' : 'form-control' } }) }}
                    </div>
                </div>

                <div id="temas" data-prototype="{% filter escape %}{{ include('AoshidowebBundle:Themes:carrera-field-prototype.html.twig', { 'form': form.materias.vars.prototype }) }}{% endfilter %}">
                    {% for tema in form.materias %}

                    {% endfor %}                    
                </div>

                <div class="form-group">
                    <div id="anchor" class="col-md-offset-2 col-md-4">
                        {{ form_widget(form.save,{ 'attr': {'class': 'btn btn-success'} }) }}
                    </div>
                    {{ form_row(form._token) }}
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
        
        
        
        <div class="panel panel-primary">
            <div class="panel-heading text-right">Materias Disponibles: {{ cantidad }}</div>

            <table class="table table-condensed">

                {% for materia in paginas %}
                    <tr>
                        <td class="col-md-6">
                            {{ materia.descripcion }}
                        </td>
                        <td class="col-md-1">{{ materia.aniocarrera }}</td>
                        <td class="col-md-1">
                            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                <button type="button" class="btn btn-success" aria-label="Left Align" data-toggle="tooltip" data-placement="top" title="Editar"  onclick=" location.href = '{{ url('materias_edit',{ 'idMateria': materia.id})}}';">
                                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-warning" aria-label="Left Align" data-toggle="tooltip" data-placement="right" title="Desvincular"  onclick=" location.href = '{{ url('carreras_desvincular_materia',{ 'idCarrera': carrera.id , 'idMateria': materia.id } )}}';">
                                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                </button>    
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div class="col-md-offset-4 navigation">
                {{ knp_pagination_render(paginas) }}
            </div>

        </div>
        
    </div>
</div>
{% endblock %}

{% block javascripts %} 
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    <script type="text/javascript">
        $(".btn-warning").popConfirm({
            title: "Borrar Pregunta",
            content: "¿Seguro que desea desvincular la materia? Si no posee otra carrera asociada se eliminara! ",
            placement: "right",
            yesBtn: "Si",
            noBtn: "No"
        });
    </script>
    
    <script>
        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagLink = $('<button type="button" class="btn btn-success">\n\
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>\n\
                                Materia\n\
                            </button>');

        var $newLinkLi = $('<div class="col-md-offset-8"></div>').append($addTagLink);

        jQuery(document).ready(function () {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('div#temas');

            // Get the ul that holds the collection of tags
            $addAnchor = $('div#anchor');

            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('div#temaCont').each(function () {
                addTagFormDeleteLink($(this));
            });

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });
        });

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<div class="col-sm-1">\n\
                                    <button type="button" class="btn btn-danger ">\n\
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>\n\
                                    </button> \n\
                                </div>');

            $tagFormLi.find('div#temaCont').append($removeFormA);

            $removeFormA.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<div></div>').append(newForm);
            $newLinkLi.before($newFormLi);

            // add a delete link to the new form
            addTagFormDeleteLink($newFormLi);
        }
    </script>

{% endblock %}