{% extends 'AoshidowebBundle:Abms:index.html.twig' %}

{% block title %}Carreras{% endblock %}
{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{{url('aoshidoweb_homepage')}}">Home</a></li>
        <li class="active">Carreras</li>
    </ul>
{% endblock %}
{% block section %}Carreras{% endblock %}
{% block abms_contenido %} 
    {% form_theme form 'AoshidowebBundle:Themes:carrera-field-prototype.html.twig' %}
    <div class="container col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading text-right">Carreras Disponibles: {{ paginas.getTotalItemCount }}</div>

            <table class="table table-condensed">
                <th class="col-sm-9 info {% if paginas.isSorted('c.Descripcion') %}sorted{% endif %}">{{ knp_pagination_sortable(paginas, 'Descripcion', 'c.Descripcion') }} </th>
                <th class="col-sm-3 info text-right"> Opciones </th>
                    {% for carrera in paginas %}
                    <tr>
                        <td class="col-sm-9"> 
                            <span class="badge progress-bar-info" data-toggle="tooltip" data-placement="left" title="Cantidad de Materias">
                                {{carrera.getMaterias.count}}
                            </span>
                            &nbsp;{{ carrera.descripcion }}
                        </td>

                        <td class="col-sm-1 text-right">
                            <div class="btn-group btn-group-xs" role="group">
                                <button type="button" class="btn btn-success" aria-label="Left Align" data-toggle="tooltip" data-placement="left" title="Editar" onclick="location.href = '{{ url('carreras_edit',{ 'idCarrera': carrera.id})}}';">
                                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                </button>    
                                {% if is_granted("ROLE_TEACHER") %}
                                    <button type="button" class="btn btn-danger" aria-label="Left Align" data-toggle="tooltip" data-placement="right" title="Eliminar" onclick="location.href = '{{ url('carreras_disable',{ 'idCarrera': carrera.id})}}';">
                                        <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                                    </button>    
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div class="text-center navigation">
                {{ knp_pagination_render(paginas) }}
            </div>

        </div>
        {{ form_start(form,{ 'attr': {'class': 'form-horizontal', 'id': 'carrera_form'} })}}
        {% if form_errors(form) %}
            <div class="alert alert-danger" role="alert">{{ form_errors(form)}}</div>
        {% endif %}
        <div class="panel panel-primary">
            <div class="panel-heading">Agregar Carrera:</div>


            <table class="table table-condensed" >
                <tbody id="materias" data-prototype="{% filter escape %}{{ include('AoshidowebBundle:Themes:carrera-edit-field-prototype.html.twig',{ 'form': form.materias.vars.prototype }) }}{% endfilter %}">
                    <tr class="info">
                        <td>
                            {{ form_label(form.descripcion,null,{ 'label_attr' : { 'class' : 'col-sm-2 control-label' } })}}
                        </td>
                        <td class="col-sm-10" colspan="4">
                            {{ form_widget(form.descripcion,{ 'attr' : { 'class' : 'form-control' } }) }}
                        </td>
                    </tr>
                    {% for materia in form.materias %}
                        {#<tr >
                            <td class="text-left" >
                                {{ form_label(materia.descripcion,null,{ 'label_attr' : { 'class' : 'col-sm-2 control-label' } }) }} 
                            </td>    
                            <td class="col-sm-4">
                                {{ form_widget(materia.descripcion,{ 'attr' : { 'class' : 'form-control' } }) }} 
                            </td>
                            <td class="text-left">
                                {{ form_label(materia.aniocarrera,null,{ 'label_attr' : { 'class' : 'col-sm-2 control-label' } }) }} 
                            </td>    
                            <td class="col-sm-4" id="temaCont">
                                {{ form_widget(materia.aniocarrera,{ 'attr' : { 'class' : 'form-control' } }) }} 
                            </td>
                        </tr>#}
                    {% endfor %}

                </tbody>    
            </table>
            <table class="table" >
                <tr id="anchor_add_button">
                    <td class="text-center">
                        {{ form_widget(form.save,{ 'label': 'Guardar Cambios' , 'attr': {'class': 'btn btn-success'} }) }}
                    </td>
                </tr>
            </table>

        </div>
        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
</div>
{% endblock %}

{% block javascripts %} 
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <script type="text/javascript">
        $(".btn-danger").popConfirm({
            title: "Borrar Carrera",
            content: "¿Seguro que desea borrar la carrera? Se borraran todas las materias, temas y sus preguntas! ",
            placement: "right",
            yesBtn: "Si",
            noBtn: "No"
        });
    </script>

    <script>
        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagLink = $('<button id="addMateriaButton" name="addMateriaButton" type="button" class="btn btn-success">\n\
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>\n\
                                Materia\n\
                            </button>');

        var $newLinkLi = $('<td class="col-sm-2"></td>').append($addTagLink);

        jQuery(document).ready(function () {
            // Elemento que va a obtener la coleccion de materias
            $collectionHolder = $('tbody#materias');

            // Elemento donde va a ir el boton de "Agregar Materia"
            $addAnchor = $('tr#anchor_add_button');

            // add a dselete link to all of the existing tag form li elements
            $collectionHolder.find('td#temaCont').each(function () {
                addTagFormDeleteLink($(this).parent());
            });

            // add the "add a tag" anchor and li to the tags ul
            $addAnchor.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find('td#temaCont').length);

            $addTagLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder);
            });
        });

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<td class="col-sm-1">\n\
                                    <button type="button" class="btn btn-warning ">\n\
                                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>\n\
                                    </button> \n\
                                </td>');

            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }

        function addTagForm($collectionHolder) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<tr id="temaCont"></tr>').append(newForm);
            $collectionHolder.append($newFormLi);

            // add a delete link to the new form
            addTagFormDeleteLink($newFormLi);
        }
    </script>

{% endblock %}