{% extends '::base.html.twig' %}

{% block title %}Users ABM{% endblock %}
{% block content %}
    <div class="jumbotron alpha60">
        <div class="container-fluid">
            <div class="col-md-offset-1 col-md-10">
                <div class="container col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading text-right">Usuarios Disponibles: {{ cantidad }}</div>

                        <table class="table table-condensed">
                            {% for user in paginas %}
                                <tr class="row">
                                    <td class="col-sm-2">
                                        {{user.username}}
                                    </td>
                                    <td class="col-sm-7">
                                        {{user.email}}
                                    </td>
                                    <td class="col-sm-3">
                                        <div class="btn-group btn-group-sm pull-right" role="group" aria-label="..." >
                                            <button type="button" class="btn btn-info" aria-label="Left Align" data-toggle="tooltip" data-placement="left" title="Promote" onclick="location.href = '{{ url('users_promote',{ 'idUser': user.id}) }}';">
                                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                            </button>
                                            <button type="button" class="btn btn-danger" aria-label="Left Align" data-toggle="tooltip" data-placement="right" title="Banhammer"  onclick=" location.href = '{{ url('users_disable',{ 'idUser': user.id}) }}';">
                                                <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                                            </button>    
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="text-center navigation">
                        {{ knp_pagination_render(paginas) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %} 
    {{ parent() }}

    <script type="text/javascript">
        $(".btn-danger").popConfirm({
            title: "Borrar Pregunta",
            content: "¿Seguro que desea deshabilitar al user?",
            placement: "right",
            yesBtn: "Si",
            noBtn: "No"
        });
    </script>

    <script type="text/javascript">
        CKEDITOR.replace('pregunta_contenido');
    </script>

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <script type="text/javascript">
        $("select[id$='carrera']").change(function () {
            var data = {
                idcarrera: $(this).val()
            };

            $.ajax({
                type: 'post',
                url: '{{ path("preguntas_addMateria") }}',
                data: data,
                success: function (data) {
                    var $materia_selector = $("select[id$='materia']");

                    $materia_selector.html('<option value="">- Seleccione Materia -</option>');

                    for (var i = 0, total = data.length; i < total; i++) {
                        $materia_selector.append('<option value="' + data[i].id + '">' + data[i].descripcion + ' </option>');
                    }
                }
            });
        });
    </script>

    <script type="text/javascript">
        $("select[id$='materia']").change(function () {
            var data = {
                idmateria: $(this).val()
            };

            $.ajax({
                type: 'post',
                url: '{{ path("preguntas_addTemas") }}',
                data: data,
                success: function (data) {
                    var tema_selector = $("select[id$='temas']");

                    tema_selector.html('<option value="">- Seleccione Tema -</option>');

                    for (var i = 0, total = data.length; i < total; i++) {
                        tema_selector.append('<option value="' + data[i].id + '">' + data[i].descripcion + ' </option>');
                    }
                }
            });
        });
    </script>
{% endblock %}