{% extends 'AoshidowebBundle:Abms:index.html.twig' %}

{% block title %}Temas{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{{url('aoshidoweb_homepage')}}">Home</a></li>
        <li class="active">Temas</li>
    </ul>
{% endblock %}

{% block section %}Temas{% endblock %}
{% block abms_contenido %} 

    <div class="container col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading text-right">Temas Disponibles: {{ paginas.getTotalItemCount }}</div>

            <table class="table table-condensed">

                {% for tema in paginas %}
                    <tr>
                        <td class="col-sm-10">
                            <span class="badge progress-bar-info" data-toggle="tooltip" data-placement="top" title="Cantidad de Preguntas">
                                {% if tema.id in preguntasTemas|keys %}
                                    {{preguntasTemas[tema.id]}}
                                {% else %}
                                    0
                                {% endif %}
                            </span>
                            {{ tema.descripcion }}
                        </td>
                        <td class="col-sm-2 text-right">
                            <div class="btn-group btn-group-sm pull-right" role="group" aria-label="...">
                                <button type="button" class="btn btn-success " aria-label="Left Align" data-toggle="tooltip" data-placement="top" title="Editar" onclick="location.href = '{{url('temas_edit',{ 'idTema': tema.id})}}';">
                                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-danger " aria-label="Left Align" data-toggle="tooltip" data-placement="bottom" title="Eliminar"  onclick=" location.href = '{{ url('temas_disable',{ 'idTema': tema.id})}}';">
                                    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="navigation text-center">
            {{ knp_pagination_render(paginas) }}
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Agregar Temas</div>

            <div class="panel-body">
                {% include 'AoshidowebBundle:Temas:form.html.twig' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %} 
    {{ parent() }}
    <script type="text/javascript">
        $(".btn-danger").popConfirm({
            title: "Borrar Pregunta",
            content: "¿Seguro que desea borrar el Tema? \n Tambien se borraran todas sus preguntas asociadas",
            placement: "left",
            yesBtn: "Si",
            noBtn: "No"
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <script type="text/javascript">
        $("select[id$='carrera']").change(function () {
            var data = {
                idcarrera: $(this).val()
            };

            $.ajax({
                type: 'post',
                url: '{{ path("preguntas_addMateria") }}',
                data: data,
                success: function (data) {
                    var $materia_selector = $("select[id$='materia']");

                    $materia_selector.html('<option value="">- Seleccione Materia -</option>');

                    for (var i = 0, total = data.length; i < total; i++) {
                        $materia_selector.append('<option value="' + data[i].id + '">' + data[i].descripcion + ' </option>');
                    }
                }
            });
        });
    </script>

{% endblock %}